@font-face {
  font-family: "Nunito";
  src: url(https://github.com/googlefonts/NunitoFont) format("ttf");
}

.menu_header_logo {
  width: 100%;
  height: 100%;
}
.menu_header_button {
  background-color: #ff8800;
  border-radius: 30px !important;
  border: none !important;
  padding-right: 1em !important;
  text-align: center !important;
  justify-content: center !important;
  width: 16vh !important;
  height: 8vh !important;
}
.menu_header_logo button a {
  font-family: "Nunito";
  color: white;
  font-size: 1em;
  text-decoration: none;
  font-weight: 750;
  margin-left: 0.8em;
}
.menu_header_logo img {
  width: 12% !important;
  padding-bottom: 0.5em;
}
.menu_header_input {
  display: flex !important;
  margin-top: 0.6em !important;
  flex-direction: row !important;
}

.menu_header_input input {
  border-color: #ff8800 !important;
  border-style: solid !important;
  border-width: 1px !important;
  width: 50vh !important;
  height: 7.5vh !important;
  border-radius: 30px 0px 0px 30px;
}

.menu_header_input button {
  display: flex;
  background-color: #ff8800;
  border: none;
  border-radius: 0px 30px 30px 0px;
  height: 7.5vh;
  width: 8vh !important;
}
.menu_header_input button img {
  width: 96.2% !important;
  margin-left: 0px !important;
  margin-top: 0.3em !important;
}

.container {
  padding-left: 0em;
}

.navbar {
  padding: 0em;
  margin-top: -2.4em;
}

.carousel-inner {
  border-radius: 30px;
  height: 40vh !important;
}
.carousel-indicators li {
  height: 0.6em;
  width: 0.6em;
  border-radius: 100%;
  background-color: #ff8800;
  margin-right: 1.1em;
  margin-bottom: 1vh;
}

.carousel-control-next-icon {
  background-image: url(../static/images/icon_next.svg);
}
.carousel-control-prev-icon {
  background-image: url(../static/images/icon_previus.svg);
}
