<template>
<div class="row">
  <div class="col-md-2">
      <ul>
          <li @click="goTo('Perfil')">Meu perfil</li>
          <li @click="goTo('Favoritos')">Favoritos</li>
          <li @click="goTo('MinhasVisitas')">Minhas visitas</li>
          <li @click="goTo('MeusImoveis')">Meus imóveis</li>
          
      </ul>
  </div>
  <div class="col-md-10">
      <p v-show="this.step < 3">Preencha os campos abaixo para prosseguirmos com a geração do contrato:</p>
       <transition name="slide-fade">
        <div v-show="this.step == 0">
            Escolha a data de início do contrato<br>
            <date-picker  :disabled-date="disableWeekendsAndNotBeforeToday" v-model="form.inicio" :default-value="this.default"  :format="momentFormat" valueType="format"></date-picker>
            <br>
            <button @click="setStep(2)">Próximo</button>
        </div>
       </transition>
        <div v-show="this.step == 1">
          <!-- Escolha a duração do contrato<br> -->
          <!-- <input type="number" v-model="form.duracaoContrato" min="30" max="999" class="form-control"> -->
          <!-- <select v-model="form.duracaoContrato" id="">
            <option value="30">30 meses</option>
            <option value="48">48 meses</option>
            <option value="60">60 meses</option>
          </select> -->
          <!-- <v-select :options="options"></v-select> -->
          <!-- <br> -->
          <!-- <button @click="setStep(0)">Voltar</button>&nbsp;
          <button @click="setStep(2)">Próximo</button> -->
        </div>
      <div v-show="this.step == 2">
           Confirme o valor do aluguel combinado na visita<br>
          <input type="number"  v-model="form.valorAluguel"  class="form-control">
          <br>
          <button @click="setStep(0)">Voltar</button>&nbsp;
          <button @click="setStep(3)">Próximo</button>
      </div>
      <!-- <div v-show="this.step == 3">
        Valor do condomínio<br>
        <input type="number"  v-model="form.valorCondominio"  class="form-control">
        <button @click="setStep(2)">Voltar</button>&nbsp;
        <button @click="setStep(4)">Próximo</button>

      </div>
      <div v-show="this.step == 4">
        IPTU<br>
        <input type="number"  v-model="form.valorIPTU"  class="form-control">
        <button @click="setStep(3)">Voltar</button>&nbsp;
        <button @click="setStep(5)">Próximo</button>
      </div> -->
      <div v-show="this.step == 3">
      Considerações importantes<br>
      • O pagamento é feito todo dia 15 de cada mês<br>
      • Enviaremos as informações da proposta para o proprietário analisar<br>
      <hr>      
      <B>Início do contrato:</B> {{form.inicio}}<br>
      <B>Fim do contrato:</B> {{form.fim}}<br>
      <B>Duração</B> {{form.duracaoContrato}}<br>
      <B>Valor do Aluguel</b> {{form.valorAluguel}}
      <br>
      <button @click="setStep(2)">Voltar</button>&nbsp;
      <button @click="enviarProprietario()">Enviar proposta para o proprietário</button>&nbsp;

    
      </div>
      <!-- <div v-show="this.step == 6">
      • Desconto no aluguel? por quantos meses? 
      </div> -->
            
  </div>


</div>
</template> 
<script>
import DatePicker from 'vue2-datepicker';
var moment = require('moment');
import 'moment/locale/pt-br';
import "vue-select/dist/vue-select.css";

import 'vue2-datepicker/locale/pt-br';
import 'vue2-datepicker/index.css';
import { enviarProposta } from "@/services/vestor";
const today = new Date();
today.setHours(0, 0, 0, 0);
export default {
  name: 'Alugar',
  components: {
    DatePicker 
  },
  watch:{
      form: {
     handler(){
        this.setLocal('dadosAluguel', JSON.stringify(this.form))
      },
      deep: true
    },
  
  },
  data() {
    return {
      //  options: [{
      //    {
      //      value: '',
      //      label: 
      //    }, 
      //    {

      //    }
      //  }],
      form: {
        inicio: null,
        fim: null,
        duracaoContrato: null,
        valorAluguel: null,
        valorCondominio: null,
        valorIPTU: null,
        idImovel: null,
        idAnuncio: null,
      },
      default: new Date(),
      momentFormat: {
      // Date to String
      stringify: (date) => {
        return date ? moment(date).format('dddd, DD/MM/YYYY'): ''
      },
      // String to Date
      parse: (value) => {
        let data = value.split(',');
        data = data[1].trim()
        data = data.split('/')
        data = new Date(data[2]+'-'+data[1]+'-'+data[0] + ' 00:00:00')
        let l = moment(data).add(30, 'M')
         this.form.fim = l.calendar()
        // console.warn(data)
        // let currentDate = data
         
         console.warn();

        // var futureMonth = moment(currentDate).add(1, 'M');
        // var futureMonthEnd = moment(futureMonth).endOf('month');

        // if(currentDate.date() != futureMonth.date() && futureMonth.isSame(futureMonthEnd.format('YYYY-MM-DD'))) {
        //     futureMonth = futureMonth.add(1, 'd');
        // }

        // console.warn(currentDate);
        // console.warn(futureMonth);
        // console.warn(moment(value,  'DD/MM/YYYY').toDate())
        return value ? moment(value, 'DD/MM/YYYY').toDate() : null
      }
    },
      time1: null,
      step: 0,
      imovel: null
    }
  },
   async beforeMount(){
     this.hasImovel()
     this.loadDadosAluguel()
      // setInterval(() => console.warn(JSON.stringify(this.form)), 3000)
  },
  methods: {
    async enviarProprietario(){
      // console.warn(this.imovel)
      this.form.idImovel = this.imovel.id 
      this.form.idAnuncio = this.imovel.anuncio.id
       await enviarProposta({data: this.form})
          .then(
            response => {
              console.log(response.data)
            },
            error => {
              console.log(error);
            }
          );
    },
    loadDadosAluguel(){
        if (localStorage.getItem('dadosAluguel')) {
          try {
              let dadosAluguel = JSON.parse(localStorage.getItem('dadosAluguel'));
              if(dadosAluguel){
                this.form = dadosAluguel
                let step = 3
                // if(!this.form.valorIPTU)
                //   step = 4  
                // if(!this.form.valorCondominio)
                //   step = 3                
                if(!this.form.valorAluguel)
                  step = 2
                // if(!this.form.duracaoContrato)
                //   step = 1
                if(!this.form.inicio)
                  step = 0
                

                console.warn(step)
                
                this.step = step
              }
          } catch(e) {
              console.log(e)
              // localStorage.removeimovel('imoveis');
          }
        } else {
          this.form.valorAluguel = this.imovel.imovel.valor
          this.form.valorCondominio = this.imovel.imovel.valorCondominio
          this.form.valorIPTU = this.imovel.imovel.valorIPTU
        }
    },
    setLocal(key, value){
      localStorage.setItem(key, value);
    },
    setStep(n){
      this.step = n
    },
     disableWeekends (date) {
      const day = new Date(date).getDay()
      return day === 0 || day === 6
    },
     notBeforeToday(date) {
      return date < today;
    },
    disableWeekendsAndNotBeforeToday(date){
      return this.notBeforeToday(date) || this.disableWeekends(date);
    },
    hasImovel(){
      this.imovel = JSON.parse(localStorage.getItem('alugar'));
      if(!this.imovel){
          this.$router.push({
            name: `Perfil`,
          })
      }
    },
    goTo(pagina){
      this.$router.push({
        name: pagina,
      //  params: { id: imovel.id },
      //  props: {imovel:imovel.id}
    })
    }
  }
};
</script>