<template>
<div class="row">
  <div class="col-md-2">
      <ul>
          <li @click="goTo('Perfil')">Meu perfil</li>
          <li @click="goTo('Favoritos')">Favoritos</li>
          <li @click="goTo('MinhasVisitas')">Minhas visitas</li>
          <li @click="goTo('MeusImoveis')">Meus imóveis</li>
      </ul>
  </div>
  <div class="col-md-8">
         <div class="row">
          <div class="col-md-4"  v-for="item in items" v-bind:key="item.id"> 
              <div class="jumbotron" @click="redirecionarImovel(item)" style="cursor:pointer;">
                CÓD{{item.id}}
                <br>
                {{item.endereco.bairro.nome}}
                {{item.endereco.cidade.nome}}
                <br>
                Valor: {{item.valor}} <br>
                ValorCondominio: {{item.valorCondominio}} <br>
                valorIPTU: {{item.valorIPTU}} <br>
                valorSeguroIncendio: {{item.valorSeguroIncendio}} <br>
                <br>
                Total: {{ gerarTotal(item) }}<br><br>
                m²: {{item.area}}<br>
                quarto: {{item.quarto}}<br>
                Vagas: {{item.vagaGaragem}}<br>
              </div>
          </div>
      </div>
  </div>
</div>
</template>
<script>
import { viewUsuario } from "@/services/vestor";

export default {
  name: 'Favoritos',
  components: {
  },
  data() {
    return {  
      items:  localStorage.getItem('favoritos'),
      nomeCompleto: '',
      ddd: '',
      telefone: '', 
      email: '',
      usuario: null
    }
  },

   beforeMount(){
     this.viewUsuario()
  },
  methods: {
    abrirModal(){
      this.$modal.show('ModalAlterarTelefone')
    },
        close(){
          this.$modal.hide('ModalAlterarTelefone')
      
        },
       viewUsuario(){
          viewUsuario()
        .then(
          response => {
            this.usuario = response.data.usuario
            this.nomeCompleto = this.usuario.pessoa.nome
            this.ddd = this.usuario.pessoa.telefone.substring(0,2)
            this.telefone = this.usuario.pessoa.telefone.substring(2,80)
            this.email = this.usuario.email
          },
          error => {
            console.log(error);
          }
        );
      },
      salvar(){

      },
      goTo(pagina){
        this.$router.push({
         name: pagina,
        //  params: { id: imovel.id },
        //  props: {imovel:imovel.id}
      })
      }
  }
};
</script>