<template>
  <div class="home">
      <div class="row">
               <div class="col-md-3">
          </div>
               <div class="col-md-7">
          
      
           
            Total: {{ gerarTotal(this.imovel) }}<br><br>
            m²: {{this.imovel.area}}<br>
            quarto: {{this.imovel.quarto}}<br>
            Vagas: {{this.imovel.vagaGaragem}}<br>
          </div>
          <div class="col-md-2">
                CÓD{{this.imovel.id}}
                Aluguel
                Valor: {{this.imovel.valor}} <br>
                +ValorCondominio: {{this.imovel.valorCondominio}} <br>
                +valorIPTU: {{this.imovel.valorIPTU}} <br>
                +valorSeguroIncendio: {{this.imovel.valorSeguroIncendio}} <br>
                <button   @click="$modal.show('ModalVisita')" style="background:red" >Agendar Visita</button>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              {{this.imovel.endereco.bairro.nome}}<br>
              {{this.imovel.endereco.cidade.nome}}

          </div>
      </div>

      <ModalVisita  @closeModal="close" :propImovel="this.imovel" />
      

  </div>
  
</template>

<script>
import ModalVisita from '@/components/ModalVisita.vue';
import { viewImovel } from "@/services/vestor";
export default {
  components: {
    ModalVisita
  },
  data() {
    return {
      canBeShown: false,
      id: this.$route.params.id,
      imovel: {},
      diasDisponiveis:[],
      showModal: false,
    }
  },
  beforeMount(){
     this.getImovel()
     this.viewImovel()
  }, 
  methods: {

        getDias() {
        console.warn('11',this.diasDisponiveis)
        return this.diasDisponiveis
        },
        
        close(){
          this.$modal.hide('ModalVisita')
      
        },
        gerarTotal(item) {
        let total = 0;
        total += parseFloat(item.valor);
        total += parseFloat(item.valorCondominio);
        total += parseFloat(item.valorIPTU);
        total += parseFloat(item.valorSeguroIncendio);
        return (this.total = total);
        },
       viewImovel(){
         viewImovel({id: this.id})
        .then(
          response => {
           this.imovel = response.data.imovel
           this.diasDisponiveis =  Object.entries(response.data.diasDisponiveis)
        //    this.diasDisponiveis = this.diasDisponiveis[1]
        //    console.warn(this.diasDisponiveis)
          },
          error => {
            console.log(error);
          }
        );
      },
      getImovel() {
        if (localStorage.getItem('imoveis')) {
        try {
            let imoveis  = JSON.parse(localStorage.getItem('imoveis'));
            console.log(this.$route.params.id);
            let imovelExistente = imoveis.find((imovel) => imovel.id == this.id)
            if(imovelExistente)
                this.imovel = imovelExistente
        } catch(e) {
            console.log(e)
            // localStorage.removeimovel('imoveis');
        }
        }
      }
  }
};
</script>
