<template>
  <div class="row">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.2.0/dist/style.css">

    <div class="col-md-3">
      <select v-model="filter.cidade" @change="search" class="form-control">
        <option value="São José dos Campos" selected >São José dos Campos</option>
      </select>

      <tags-input element-id="tags"
      v-model="bairrosSelecionados"
      typeahead-style="dropdown"
      :typeahead-hide-discard="true"
      placeholder="Selecione o local"
      :delete-on-backspace="true"
      :limit=5
      :typeahead-max-results=10
      :existing-tags="bairros"
      @tags-updated="search"
      :typeahead="true">
      </tags-input>

      <input v-model="filter.min_area" @change="search" placeholder="Mín Área" class="form-control" type="number">
      <input v-model="filter.max_area" @change="search" placeholder="Máx Área" class="form-control" type="number">
      <input v-model="filter.min_valor" @change="search" placeholder="Mín Valor" class="form-control" type="number">
      <input v-model="filter.max_valor" @change="search" placeholder="Máx Valor" class="form-control" type="number">
      Quartos:<br>
      <input type="radio" id="male" v-model="filter.quarto" value="1" @change="search">
      <label for="male">1+</label><br>
      <input type="radio" id="female"  v-model="filter.quarto"  value="2" @change="search">
      <label for="female">2+</label><br>
      <input type="radio" id="other"  v-model="filter.quarto"  value="10" @change="search">
      <label for="other">10+</label>
      <br>
      Banheiros:<br>
      <input type="radio" id="male" v-model="filter.banheiro" value="1" @change="search">
      <label for="male">1+</label><br>
      <input type="radio" id="female"  v-model="filter.banheiro"  value="2" @change="search">
      <label for="female">2+</label><br>
      <input type="radio" id="other"  v-model="filter.banheiro"  value="10" @change="search">
      <label for="other">10+</label>
      <br>
      Vagas:<br>
      <input type="radio" id="male" v-model="filter.vagaGaragem" value="1" @change="search">
      <label for="male">1+</label><br>
      <input type="radio" id="female"  v-model="filter.vagaGaragem"  value="2" @change="search">
      <label for="female">2+</label><br>
      <input type="radio" id="other"  v-model="filter.vagaGaragem"  value="10" @change="search">
      <label for="other">10+</label>
    </div>
    <div class="col-md-8">
       <div class="row">
          <div class="col-md-4"  v-for="item in items" v-bind:key="item.id"> 
              <div class="jumbotron" @click="redirecionarImovel(item)" style="cursor:pointer;">
                CÓD{{item.id}}
                <br>
                {{item.endereco.bairro.nome}}
                {{item.endereco.cidade.nome}}
                <br>
                Valor: {{item.valor}} <br>
                ValorCondominio: {{item.valorCondominio}} <br>
                valorIPTU: {{item.valorIPTU}} <br>
                valorSeguroIncendio: {{item.valorSeguroIncendio}} <br>
                <br>
                Total: {{ gerarTotal(item) }}<br><br>
                m²: {{item.area}}<br>
                quarto: {{item.quarto}}<br>
                Vagas: {{item.vagaGaragem}}<br>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
import { imoveis } from "@/services/vestor";

export default {

  data() {
    return {
      imoveis: [],
      novoImovel: null,
      bairrosSelecionados: [],
      filter: {
        min_area: '',
        max_area: '',
        max_valor: '',
        min_valor: '',
        cidade: 'São José dos Campos',
        quarto: 1,
        banheiro: 1,
        vagaGaragem: 1,
        bairros: [{
          key: 0,
          value: 0
        }]

      },

      items: [],
      page: 1,
      total: 0,
      bairros: [
          { key: 1, value: 'JARDIM AMERICANO' },
          { key: 2, value: 'ALTO DA PONTE' },
          { key: 3, value: 'JARDIM TELESPARK' },
      ]
    };
  },
   mounted() {
    if (localStorage.getItem('imoveis')) {
      try {
        this.imoveis = JSON.parse(localStorage.getItem('imoveis'));
      } catch(e) {
        localStorage.removeItem('imoveis');
      }
    }
  },
  methods: {
      addImovel(novoImovel) {
      let imovelExistente = this.imoveis.find((item) => item.id == novoImovel.id)
      if(imovelExistente)
        return;
      this.novoImovel = novoImovel
      this.imoveis.push(this.novoImovel);
      this.novoImovel = '';
      this.salvarImoveis();
    },
    salvarImoveis() {
      const parsed = JSON.stringify(this.imoveis);
      localStorage.setItem('imoveis', parsed);
    },
    redirecionarImovel(imovel){
      this.$router.push({
         name: `Imovel`,
         params: { id: imovel.id },
         props: {imovel:imovel.id}
      })
    },
    gerarTotal(item) {
      let total = 0;
      total += parseFloat(item.valor);
      total += parseFloat(item.valorCondominio);
      total += parseFloat(item.valorIPTU);
      total += parseFloat(item.valorSeguroIncendio);
      return (this.total = total);
    },

    loadData() {
      console.log(this.bairrosSelecionados)
      if(this.bairrosSelecionados){

         this.filter.bairros = JSON.stringify(this.bairrosSelecionados)
      } 
      // console.log(this.filter.bairros)
      imoveis({filter: this.filter})
        .then(
          response => {
            this.items = response.data;
            this.items.forEach((item) => {
              this.addImovel(item)
            })
            // console.log(this.items);
            this.page++;
          },
          error => {
            console.log(error);
          }
        )
        .finally(() => {
          let i = 0;
          i++;
          this.total = i;
          // console.log('finally')
        });
    },
    search() {
      this.loadData();
      // console.log('search')
    }
  },
  created() {
    this.loadData();
  }
};
</script>
