<template lang="html">
  <div class="">
    <router-view @toHome="toHome" @toConfimarCodigo="toConfimarCodigo"/>
  </div>
</template>

<script>
export default {
  methods: {
    toHome () {
      this.$router.push({
        name: 'index'
      })
    },
    toConfimarCodigo () {
      this.$router.push({
        name: 'login-confirmar-codigo'
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>