<template>
<div class="row">
  <div class="col-md-2">
      <ul>
          <li @click="goTo('Perfil')">Meu perfil</li>
          <li @click="goTo('Favoritos')">Favoritos</li>
          <li @click="goTo('MinhasVisitas')">Minhas visitas</li>
          <li @click="goTo('MeusImoveis')">Meus imóveis</li>
      </ul>
  </div> 
  <div class="col-md-10">
      <div class="row" v-for="(item,index) in items" v-bind:key="index">
  
          <div class="col-md-8" > 
                    {{item.endereco.completo}}
              <div class="jumbotron" style="cursor:pointer;">
                lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
                lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
                lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
                lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 

              </div>
          </div>
          <div class="col-md-4">
              <br>
              <div class="row">
                <button  v-if="item.contrato" @click="goTo(item)">
                  Continuar processo de locação
                </button>
              </div>
              <div class="row">
                <!-- <div class="col-md-6" style="text-align: left;" v-if="item.gerenciarBotao == 1">
                  <button>Avaliar visita</button>
                </div>
                <div class="col-md-6" style="text-align: left;" v-if="item.gerenciarBotao == 2">
                  <button @click="abrirModalReagendar(item)">Reagendar</button>
                </div>
                <div class="col-md-6" style="text-align: right;" v-if="item.gerenciarBotao == 2">
                  <button @click="abrirModalCancelar(item)">Cancelar</button>
                </div>
                <div class="col-md-6" style="text-align: right;" v-if="item.gerenciarBotao == 1">
                  <button @click="alugar(item)">Alugar</button>
                </div> -->
              </div>              
          </div>
      </div>
  </div>
  <!-- <ModalCancelar  @closeModal="closeModalCancelar" />
  <ModalReagendar  @closeModal="closeModalReagendar" /> -->

</div>
</template> 
<script>
import { getMeusImoveis } from "@/services/vestor";
// import ModalCancelar from '@/components/ModalCancelar.vue';
// import ModalReagendar from '@/components/ModalReagendar.vue';


export default {
  name: 'MinhasVisitas',
  components: {
    // ModalCancelar,
    // ModalReagendar
  },
  data() {
    return {  
      gerenciarBotao: 0,
      items: [],
      nomeCompleto: '',
      ddd: '',
      telefone: '', 
      email: '',
      usuario: null
    }
  },
  async beforeMount(){
     await this.getMeusImoveis()
  },
  methods: {
  // alugar(imovel){
  //   let imoveis = JSON.parse(localStorage.getItem('imoveis'));
  //   let imovelBuscado = null;
  //   if(imoveis){
  //     imovelBuscado = imoveis.find((item) => item.id == imovel.id )
  //     if(imovelBuscado)
  //       imovel.imovel = imovelBuscado
  //   } 

  //   localStorage.setItem('alugar', JSON.stringify(imovel));
  //   this.$router.push({
  //     name: 'Alugar'
  //   })    
  // },
  // abrirModalReagendar(imovel){
  //   // console.warn('xx', imovel)
  //   this.$modal.show('ModalReagendar', {propImovel: imovel})
  // },
  // abrirModalCancelar(imovel){
  //   this.$modal.show('ModalCancelar', {propImovel: imovel})
  // },
  // closeModalCancelar(event){
  //   // responsável por remover o imóvel da lista
  //   if(event && event.visitaRemovida){
  //       let index = this.items.findIndex((item) => item.visita.id == event.visitaRemovida.id)
  //       this.items.splice(index,1)
  //   }
  //   this.$modal.hide('ModalCancelar')
  // },
  //     diaFormatado(dia){
  //       if(!dia)
  //         return '';
  //       return dia.toLocaleDateString('pt-BR')
  //     },
  //     getDay(dia){
  //     if(!dia)
  //       return '';
  //     switch(dia.getDay()) {
  //       case 6: return 'Domingo'; 
  //       case 0: return 'Segunda'; 
  //       case 1: return 'Terça';
  //       case 2: return 'Quarta';
  //       case 3: return 'Quinta';
  //       case 4: return 'Sexta'; 
  //       case 5: return 'Sábado'; 
  //       default: return '-';
  //     }
  //   },
  //   gerarTotal(item) {
  //     let total = 0;
  //     total += parseFloat(item.valor);
  //     total += parseFloat(item.valorCondominio);
  //     total += parseFloat(item.valorIPTU);
  //     total += parseFloat(item.valorSeguroIncendio);
  //     return (this.total = total);
  //   },
  //   abrirModal(){
  //     this.$modal.show('ModalAlterarTelefone')
  //   },
  //   close(){
  //     this.$modal.hide('ModalAlterarTelefone')
  
  //   },
    async getMeusImoveis(){
    await getMeusImoveis()
    .then(
      response => {
          // console.log(response.data)
          this.items = response.data

          // for (let i = 0; i < dados.length; i++) {
            // dados[i].visita.dataVisita = new Date(dados[i].visita.dataVisita + ' '+ dados[i].visita.hora)
            // // console.warn(dados[i].visita.dataVisita, dados[i].visita.dataVisita < new Date())
            
            // if(dados[i].visita.dataVisita < new Date()){
            //   dados[i].gerenciarBotao = 1;
            // } else {
            //   dados[i].gerenciarBotao = 2;
            // }
            
            // this.items.push(dados[i])
          // }
          // console.log(response.data)
        },
        error => {
          console.log(error);
        }
      );
    },
    // salvar(){

    // },
    goTo(imovel){
      localStorage.setItem('meuImovel', JSON.stringify(imovel))
      this.$router.push({
        name: 'ProcessoLocacao',
      //  params: { id: imovel.id },
    })
    } 
  }
};
</script>