<template>
<div class="row">
  <div class="col-md-2">
      <ul>
          <li @click="goTo('Perfil')">Meu perfil</li>
          <li @click="goTo('Favoritos')">Favoritos</li>
          <li @click="goTo('MinhasVisitas')">Minhas visitas</li>
          <li @click="goTo('MeusImoveis')">Meus imóveis</li>
      </ul>
  </div>
  <div class="col-md-8">
    <input type="text" placeholder="Nome completo" v-model="nomeCompleto" style="border:dashed;" ><br><br>
    <input type="number" max="99" min="00" placeholder="DDD" disabled v-model="ddd" style="border:dashed;" >
    <input type="number"  placeholder="Telefone" disabled v-model="telefone" style="border:dashed;" ><button @click="abrirModal()">Alterar telefone</button><br><br>
    <input type="text" placeholder="Email" v-model="email" style="border:dashed;" ><br><br>
    <button style="background:green;" @click="salvar()">Salvar</button>
  </div>

  <ModalAlterarTelefone  @closeModal="close" :propUsuario="this.usuario" />

</div>
</template>

<script>
import { viewUsuario } from "@/services/vestor";
import ModalAlterarTelefone from '@/components/ModalAlterarTelefone.vue';

export default {
  name: 'Perfil',
  components: {
    ModalAlterarTelefone
  },
  data() {
    return { 
      nomeCompleto: '',
      ddd: '',
      telefone: '',
      email: '',
      usuario: null
    }
  },

   beforeMount(){
     this.viewUsuario()
  },
  methods: {
    abrirModal(){
      this.$modal.show('ModalAlterarTelefone')
    },
        close(){
          this.$modal.hide('ModalAlterarTelefone')
      
        },
       viewUsuario(){
          viewUsuario()
        .then(
          response => {
            this.usuario = response.data.usuario
            this.nomeCompleto = this.usuario.pessoa.nome
            this.ddd = this.usuario.pessoa.telefone.substring(0,2)
            this.telefone = this.usuario.pessoa.telefone.substring(2,80)
            this.email = this.usuario.email
          },
          error => {
            console.log(error);
          }
        );
      },
      salvar(){

      },
      goTo(pagina){
        this.$router.push({
         name: pagina,
        //  params: { id: imovel.id },
        //  props: {imovel:imovel.id}
      })
      }
  }
};
</script>
