<template>
<div class="row">
  <div class="col-md-2">
      <ul>
          <li @click="goTo('Perfil')">Meu perfil</li>
          <li @click="goTo('Favoritos')">Favoritos</li>
          <li @click="goTo('MinhasVisitas')">Minhas visitas</li>
          <li @click="goTo('MeusImoveis')">Meus imóveis</li>
          
      </ul> 
  </div>
  <div class="col-md-10">
      <p v-show="this.step < 3">Preencha os campos abaixo para prosseguirmos com a geração do contrato:</p>
      <div v-show="this.step == -1">
          O futuro inquilino(a) preencheu o seguinte início do contrato {{this.getInicio()}}<br>
          Você concorda com o início desse contrato?
          <v-select @input="setDataInicioSelected" :options="options" v-model="form.flagDataInicio"></v-select>
          <br>
          <div v-show="this.form.flagDataInicio.value === 'nao'">
            Escolha a data de início do contrato<br>
            <date-picker :disabled-date="disableWeekendsAndNotBeforeToday" v-model="form.inicio" :default-value="this.default"  :format="momentFormat" valueType="format"></date-picker>
            <br>

          </div>
          <button>Voltar</button>&nbsp;
          <button @click="confirmarData()">Próximo</button>
      </div>
       <transition name="slide-fade">
        <div v-show="this.step == 0">
            O futuro inquilino(a) informou que o valor do aluguel acordado é de <b>{{this.meuImovel.contrato.valorAluguel}}</b> mas o valor original do anúncio é <b>{{this.meuImovel.valor}}</b>, confirme o valor do aluguel acordado.<br>
            <input type="number"  v-model="form.valorAluguel"  class="form-control">

            <br>
            <button @click="setStep(-1)">Voltar</button>&nbsp;
            <button @click="confirmarValor()">Próximo</button> 
        </div>
       </transition>

      <div v-show="this.step == 2">
          Foi acordado alguma carência<button>(?)</button> para o contrato?<br>
          <v-select :options="options" v-model="form.flagCarencia"></v-select>
          <!-- <input type="number"  v-model="form.valorAluguel"  class="form-control"> -->
          <br>
          
          <input type="number" v-show="this.form.flagCarencia.value === 'sim'" v-model="form.valorCarencia" class="form-control">
          <v-select  @input="setSelected"  v-show="this.form.flagCarencia.value === 'sim'" :options="carenciaMeses" v-model="carenciaMes"></v-select>

          <br>
          <button @click="setStep(0)">Voltar</button>&nbsp;
          <button @click="confirmarCarencia(3)">Próximo</button>
      </div>
    
      <div v-show="this.step == 3">
          Foi acordado alguma algum desconto?<br>
          <v-select :options="options" v-model="form.flagDesconto"></v-select>
          <!-- <input type="number"  v-model="form.valorAluguel"  class="form-control"> -->
          <br>
          <div v-show="this.form.flagDesconto.value === 'sim'">
            Valor do desconto:<br>
            <input type="number"  v-model="form.valorDesconto" class="form-control">
            Duração em meses<br>
            <v-select  @input="setSelectedDesconto" :options="quantidadeMeses" v-model="duracaoDesconto"></v-select>
          </div>
          <br>
          <button @click="setStep(0)">Voltar</button>&nbsp;
          <button @click="revisarValores(4)">Próximo</button>
    
      </div>
      <div v-show="this.step == 4"> 
      Revisão <br>
      <hr>
      <B>Início do contrato:</B> {{form.inicio}}<br>
      <B>Fim do contrato:</B>  {{form.fim}}<br>
      <B>Duração do contrato:</B> 30 meses<br>
      <B>Valor do Aluguel:</b> {{form.valorAluguel}}<br>
      <div v-if="form.flagCarencia.value == 'sim'">
        <B>Carência:</b> {{form.valorCarencia}} {{form.tipoCarencia}}<br>
        <B>Início do faturamento:</B> {{form.inicioComCarencia}}
      </div>
      <div v-else>
        <B>Carência:</b> Não<br>
      </div>
      <div v-if="form.flagDesconto.value == 'sim'">
        <B>Desconto:</b> {{form.valorDesconto}} por {{form.duracaoValorDesconto}} {{this.labelMes()}}<br>
      </div>
      <div v-else>
        <B>Desconto:</b> Não<br>
      </div>
      <br> 

      <button @click="setStep(3)">Voltar</button>&nbsp;
      <button @click="efetivar()">Confirmar</button>
      </div>
            
  </div>


</div>
</template> 
<script>
import DatePicker from 'vue2-datepicker';

var moment = require('moment');
import Swal from 'sweetalert2/dist/sweetalert2.js'

import 'moment/locale/pt-br';
import "vue-select/dist/vue-select.css";

import 'vue2-datepicker/locale/pt-br';
import 'vue2-datepicker/index.css';

import { enviarProposta, parseJwt } from "@/services/vestor";
const today = new Date();
today.setHours(0, 0, 0, 0);
export default {
 props: ['imovel'],
  name: 'ProcessoLocacao',
  components: {
    DatePicker,
  },
  watch:{
    form: {
     handler(){
        this.setLocal('dadosAluguel', JSON.stringify(this.form))
      },
      deep: true
    },
  
  }, 
  data() {
    return {
    duracaoDesconto: null,
    quantidadeMeses: [
      1,
      2,
      3,
      4,
      5,
      6,
      7,
      8,
      9,
      10,
      11,
      12
    ],
    carenciaMes: null,
    carenciaMeses: [
         {
           value: 'dias',
           label: 'Dias' 
         }, 
         {
           value: 'meses',
           label: 'Meses' ,
           selected: true
         }
    ],
    meuImovel: null,
       options: [
         {
           value: 'sim',
           label: 'Sim' 
         }, 
         {
           value: 'nao',
           label: 'Não' ,
           selected: true
         }
      ],
      form: {
        
        flagDataInicio: {
        
        },
        valorDesconto: null,
        duracaoValorDesconto: null,
        flagDesconto: {
           value: 'nao',
           label: 'Não' ,
           selected: true
        },
        tipoCarencia: null,
        valorCarencia:null,
        flagCarencia: {
           value: 'nao',
           label: 'Não' ,
           selected: true
         },
        inicio: null,
        fim: null,
        inicioComCarencia: null,
        fimComCarencia: null,
        duracaoContrato: null,
        valorAluguel: null,
        valorCondominio: null,
        valorIPTU: null,
        idImovel: null,
        idAnuncio: null,
      },
      default: new Date(),
      momentFormat: {
      // Date to String
      stringify: (date) => {
        return date ? moment(date).format('dddd, DD/MM/YYYY'): ''
      },
      // String to Date
      parse: (value) => {
        let data = value
        console.warn(data)
        if(data.search(',') > -1) {
          data = value.split(',');
          data = data[1].trim()
        }
        data = this.dateBrToDate(data)
        
        let l = moment(data).add(30, 'M')
        this.form.fim = l.calendar()
      
       
        return value ? moment(value, 'DD/MM/YYYY').toDate() : null
      }
    },
      time1: null,
      step: -1,
    }
  },
  // mounted(){
  //        setInterval(() => console.log(this.flagCarencia), 1000)
  // },
   async beforeMount(){
    //  setInterval(() => console.log(this.flagCarencia), 1000)
     this.hasImovel()

    //  this.loadDadosAluguel()
      // setInterval(() => console.warn(JSON.stringify(this.form)), 3000)
  },
  methods: {
    labelMes(){
      if(this.form.duracaoValorDesconto == 1) 
        return 'mês'
      return 'meses'
    },
    dateBrToDate(data){
        if(data.search(',') > -1) {
          data = data.split(',');
          data = data[1].trim()
        }
        data = data.split('/')
        return new Date(data[2]+'-'+data[1]+'-'+data[0] + ' 00:00:00')
    },

    efetivar(){
      console.warn('EFETIVADO')
    },
    setDataInicioSelected(value){
      console.warn(value)
      this.form.inicio = this.getInicio() 
      this.flagDataInicio = value
    },
    // setSelectData(option){
    //   this
    // },
    confirmarData(){
      console.log(this.form.flagDataInicio)
      //  || !this.form.flagDataInicio.value
      if(!this.form.flagDataInicio || !this.form.flagDataInicio.value) {
        return Swal.fire({
          title: 'Atenção',
          icon: 'warning',
          html: 'Confirme o início do contrato.',
          timer: 1500,
          timerProgressBar: true
        })
      } else {
        // Se passou da seleção de sim/nao
        if(!this.form.inicio && this.form.flagDataInicio.value == 'nao')
        return Swal.fire({
          title: 'Atenção',
          icon: 'warning',
          html: 'Selecione uma data.',
          timer: 1500,
          timerProgressBar: true
        })
      }
       
      this.setStep(0)
    },
    disableWeekends (date) {
      const day = new Date(date).getDay()
      return day === 0 || day === 6
    },
     notBeforeToday(date) {
      return date < today;
    },
    disableWeekendsAndNotBeforeToday(date){
      return this.notBeforeToday(date) || this.disableWeekends(date);
    },
    getDay(dia){
      if(!dia)
        return '';
      switch(dia.getDay()) {
        case 6: return 'Domingo'; 
        case 0: return 'Segunda'; 
        case 1: return 'Terça';
        case 2: return 'Quarta';
        case 3: return 'Quinta';
        case 4: return 'Sexta'; 
        case 5: return 'Sábado'; 
        default: return '-';
      }
    },
    diaFormatado(dia){
        if(!dia)
          return '';
        return dia.toLocaleDateString('pt-BR')
    },
    getInicio(){
      return this.diaFormatado(new Date(this.meuImovel.contrato.inicio + ' 00:00:00'))
    },
    revisarValores(step){
      this.setStep(step)
    },
    confirmarCarencia(step){
      // tipoCarencia
      // valorCarencia
      console.warn(this.form)
      if(this.form.flagCarencia.value == 'sim' && (this.$parent.isNullTest(this.form.tipoCarencia) || this.$parent.isNullTest(this.form.valorCarencia)) ) {
        return Swal.fire({
          title: 'Atenção',
          icon: 'warning',
          html: 'Preencha os campos de carência.',
          timer: 1500,
          timerProgressBar: true
        })
      }

      // calcular novas datas de contrato com carencia
      let inicio = this.dateBrToDate(this.form.inicio)
      let fim = this.dateBrToDate(this.form.fim)
      if(this.form.tipoCarencia == 'dias') {
        inicio = moment(inicio).add(this.form.valorCarencia, 'd').calendar()
        fim = moment(fim).add(this.form.valorCarencia, 'd').calendar()
        this.form.inicioComCarencia = inicio
        this.form.fimComCarencia = fim
      }
      if(this.form.tipoCarencia == 'meses'){
        console.warn('meses',inicio,fim, this.form.valorCarencia)
        inicio = moment(inicio).add(this.form.valorCarencia, 'M').calendar()
        fim = moment(fim).add(this.form.valorCarencia, 'M').calendar()

        this.form.inicioComCarencia = inicio
        this.form.fimComCarencia = fim
      }
      console.log(this.form.inicioComCarencia, this.form.fimComCarencia)
      console.log(inicio,fim)
      this.setStep(step)
    },
    setSelectedDesconto(option){
    if(option.value == 'nao'){
        this.form.valorDesconto = null;
        this.form.duracaoValorDesconto = null;
      }
      // console.error(option)
      this.form.duracaoValorDesconto = option
      this.duracaoDesconto = option
    },
    setSelected(option) {
      if(option.value == 'nao'){
        this.form.valorCarencia = null;
        this.form.tipoCarencia = null;
      }
      this.form.tipoCarencia = option.value
      // console.warn(option.value)
      //  trigger a mutation, or dispatch an action  
    },
    confirmarValor(){
        if(!this.form.valorAluguel){
            Swal.fire({
                title: 'Atenção!',
                text: 'Preencha o valor do aluguel',
                icon: 'warning',
                confirmButtonText: 'Ok!'
            })
        } else {
            Swal.fire({
            title: 'Tem certeza?',
            text: `O valor informado pelo inquilino(a) foi de ${this.meuImovel.contrato.valorAluguel} e o seu é de ${this.form.valorAluguel}. Você confirma o valor?`,
            icon: 'question',
            showCancelButton: true,
            cancelButtonColor: '#d33',
            confirmButtonColor: '#3085d6',
            cancelButtonText: 'Não! vou rever',
            confirmButtonText: `Sim! o valor é ${this.form.valorAluguel}`,
            }).then((result) => {
                if (result.value) {
                    this.setStep(2)
                }
            })
        }
    },
    async enviarProprietario(){
      // console.warn(this.imovel)
      this.form.idImovel = this.imovel.id 
      this.form.idAnuncio = this.imovel.anuncio.id
       await enviarProposta({data: this.form})
          .then(
            response => {
              console.log(response.data)
            },
            error => {
              console.log(error);
            }
          );
    },
    // loadDadosAluguel(){
    //     if (localStorage.getItem('dadosAluguel')) {
    //       try {
    //           let dadosAluguel = JSON.parse(localStorage.getItem('dadosAluguel'));
    //           if(dadosAluguel){
    //             this.form = dadosAluguel
    //             let step = 3

                
    //             // if(!this.form.valorIPTU)
    //             //   step = 4  
    //             // if(!this.form.valorCondominio)
    //             //   step = 3                
    //             if(!this.form.valorAluguel)
    //               step = 2
    //             // if(!this.form.valorAluguel)
    //             step = -1
    //             // if(!this.form.duracaoContrato)
    //             //   step = 1
    //             // if(!this.form.inicio)
    //             //   step = 0
                

    //             console.warn(step)
                
    //             this.step = step
    //           }
    //       } catch(e) {
    //           console.log(e)
    //           // localStorage.removeimovel('imoveis');
    //       }
    //     } else {
    //       this.form.valorAluguel = this.imovel.imovel.valor
    //       this.form.valorCondominio = this.imovel.imovel.valorCondominio
    //       this.form.valorIPTU = this.imovel.imovel.valorIPTU
    //     }
    // },
    setLocal(key, value){
      localStorage.setItem(key, value);
    },
    setStep(n){
      this.step = n
    },
    async hasImovel(){
        if(!localStorage.getItem('meuImovel')){
            this.$router.back();
        }
        this.meuImovel = JSON.parse(localStorage.getItem('meuImovel'))
        // this.form.valorAluguel = this.meuImovel.contrato.valorAluguel
        if(!localStorage.getItem('token')) {
            console.warn('não existe token')
            this.$router.back();
        }
        let decodedUser = await parseJwt(localStorage.getItem('token'))
        // console.warn(decodedUser, this.meuImovel.idProprietarioUsuario != decodedUser.uid, decodedUser.uid,  this.meuImovel.idProprietarioUsuario)
        if(!decodedUser || !decodedUser.uid || this.meuImovel.idProprietarioUsuario != decodedUser.uid ){
            console.warn('uid inválido')
            this.$router.back();
        }
        // this.meuImovel.inicio = this.getInicio()
        // console.log(this.meuImovel)
        // decodedUser.uid !=
    },
    goTo(pagina){
      this.$router.push({
        name: pagina,
      //  params: { id: imovel.id },
      //  props: {imovel:imovel.id}
    })
    }
  }
};
</script>