  /*
    Flaticon icon font: Flaticon
    Creation date: 14/02/2020 14:54
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-001-hotel:before { content: "\f100"; }
.flaticon-002-hotel:before { content: "\f101"; }
.flaticon-003-hotel:before { content: "\f102"; }
.flaticon-004-luggage:before { content: "\f103"; }
.flaticon-005-calendar:before { content: "\f104"; }
.flaticon-006-double-bed:before { content: "\f105"; }
.flaticon-007-towel:before { content: "\f106"; }
.flaticon-008-key-card:before { content: "\f107"; }
.flaticon-009-key-card:before { content: "\f108"; }
.flaticon-010-single-bed:before { content: "\f109"; }
.flaticon-011-bath:before { content: "\f10a"; }
.flaticon-012-shower:before { content: "\f10b"; }
.flaticon-013-pool:before { content: "\f10c"; }
.flaticon-014-bellhop:before { content: "\f10d"; }
.flaticon-015-electronic:before { content: "\f10e"; }
.flaticon-016-door-sign:before { content: "\f10f"; }
.flaticon-017-telephone:before { content: "\f110"; }
.flaticon-018-smoking-area:before { content: "\f111"; }
.flaticon-019-no-smoking:before { content: "\f112"; }
.flaticon-020-modem:before { content: "\f113"; }
.flaticon-021-elevator:before { content: "\f114"; }
.flaticon-022-tv:before { content: "\f115"; }
.flaticon-023-toiletries:before { content: "\f116"; }
.flaticon-024-air-conditioning:before { content: "\f117"; }
.flaticon-025-hotel-sign:before { content: "\f118"; }
.flaticon-026-luggage:before { content: "\f119"; }
.flaticon-027-reception:before { content: "\f11a"; }
.flaticon-028-room-service:before { content: "\f11b"; }
.flaticon-029-towels:before { content: "\f11c"; }
.flaticon-030-slippers:before { content: "\f11d"; }
.flaticon-031-hotel:before { content: "\f11e"; }
.flaticon-032-room-key:before { content: "\f11f"; }
.flaticon-033-laundry:before { content: "\f120"; }
.flaticon-034-staircase:before { content: "\f121"; }
.flaticon-035-room-service:before { content: "\f122"; }
.flaticon-036-open-sign:before { content: "\f123"; }
.flaticon-037-gym:before { content: "\f124"; }
.flaticon-038-spa:before { content: "\f125"; }
.flaticon-039-restaurant:before { content: "\f126"; }
.flaticon-040-toilet:before { content: "\f127"; }
.flaticon-041-cleaning:before { content: "\f128"; }
.flaticon-042-caution-sign:before { content: "\f129"; }
.flaticon-043-menu:before { content: "\f12a"; }
.flaticon-044-minibar:before { content: "\f12b"; }
.flaticon-045-hotel:before { content: "\f12c"; }
.flaticon-046-parking-lot:before { content: "\f12d"; }
.flaticon-047-bar-stool:before { content: "\f12e"; }
.flaticon-048-cocktails:before { content: "\f12f"; }
.flaticon-049-breakfast:before { content: "\f130"; }
.flaticon-050-coffee:before { content: "\f131"; }