<template lang="html">
  <div class="text-center">
    <h1>Confirmação de acesso</h1>
    <p>Digite o código enviado para o numero +55{{ numero }}</p>
    <input ref="codigo_1" @keydown="setKeydownEvent(1, $event)"  @input="onInput" v-model="codigo[0]"   v-mask="'#'" > 
    <input ref="codigo_2" @keydown="setKeydownEvent(2, $event)"  @input="onInput" v-model="codigo[1]"   v-mask="'#'" > 
    <input ref="codigo_3" @keydown="setKeydownEvent(3, $event)"  @input="onInput" v-model="codigo[2]"   v-mask="'#'" > 
    <input ref="codigo_4" @keydown="setKeydownEvent(4, $event)"  @input="onInput" v-model="codigo[3]"   v-mask="'#'" > 

    <!-- <v-row class="form-container">
      <v-col class="centralize" cols="12" sm="6" md="3">
        <span>
          <v-text-field
            ref="codigo_1"
            @keydown="setKeydownEvent(1, $event)"
            @input="onInput"
            v-model="codigo[0]"
            v-mask="'#'"
            outlined
            rounded
            class="circle-input"
          />
        </span>
      </v-col>
      <v-col class="centralize" cols="12" sm="6" md="3">
        <span>
          <v-text-field
            ref="codigo_2"
            @keydown="setKeydownEvent(2, $event)"
            @input="onInput"
            v-model="codigo[1]"
         
            outlined
            rounded
            class="circle-input"
          />
        </span>
      </v-col>
      <v-col class="centralize" cols="12" sm="6" md="3">
        <span>
          <v-text-field
            ref="codigo_3"
            @keydown="setKeydownEvent(3, $event)"
            @input="onInput"
            v-model="codigo[2]"
    
            outlined
            rounded
            class="circle-input"
          />
        </span>
      </v-col>
      <v-col class="centralize" cols="12" sm="6" md="3">
        <span>
          <v-text-field
            ref="codigo_4"
            v-model="codigo[3]"
            @keydown="setKeydownEvent(4, $event)"
            @input="onInput"
         
            outlined
            rounded
            class="circle-input"
          />
        </span>
      </v-col>
    </v-row>
    <div v-for="error in errors" :key="error.key">
      <v-alert @input="removeError(error.key)" dismissible dense type="error">
        {{ error.msg }}
      </v-alert>
    </div>
    <v-btn @click="enviarCodigoConfirmacao" rounded>
      Confirmar
    </v-btn>
    <p class="mt-3">
      <v-btn @click="reenviarCodigo" text small color="primary">Não recebi o código</v-btn>
    </p> -->
  
  </div>
</template>
  <style>
      input {
        border-style: dotted;
      }
    </style>
<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { VueMaskDirective } from 'v-mask'
import { enviarPin } from '@/services/vestor'
import errorMixin from '@/mixins/errorMixin'
export default {
  mixins: [ errorMixin ],
  directives: {
    'mask': VueMaskDirective
  },
  data: () => ({
    codigo: [ null, null, null, null ],
    keydownEvent: () => ({})
  }),
  computed: {
    codigoCompleto () {
      let codigo = ''
      this.codigo.forEach((cod) => {
        codigo += cod
      })
      return codigo
    },
    ...mapGetters('login', ['numero'])
  },
  methods: {
    reenviarCodigo () {
      // this.$loading(true)
      this.enviarCodigo().then(() => {
        // this.$loading(false)
        this.$swal('Pin reenviado com sucesso')
      })
    },
    validate () {
      this.clearErrors()
      let valid = true
      this.codigo.forEach((cod) => {
        if (!cod) {
          valid = false
        }
      })
      if (!valid) {
        this.setError({
          msg: 'Preencha o código antes de confirmar',
          key: 'codigo'
        })
      }
      return valid
    },
    onInput () {
      this.keydownEvent()
      this.keydownEvent = () => ({})
    },
    setKeydownEvent (codigo, event) {
      console.log(codigo,event)
      if (event.key >>> 0 === parseFloat(event.key)) {
        if (this.$refs['codigo_' + (codigo + 1)]) {
          this.keydownEvent = () => {
            let el = this.$refs['codigo_' + (codigo + 1)].$el.querySelector('input')
            el.focus()
            el.select()
          }
        } else {
          this.keydownEvent = this.enviarCodigoConfirmacao
        }
      } else {
        switch (event.keyCode) {
          case 8:
            if (this.$refs['codigo_' + (codigo - 1)]) {
              this.keydownEvent = () => {
                let el = this.$refs['codigo_' + (codigo - 1)].$el.querySelector('input')
                el.focus()
                setTimeout(() => el.select())
              }
            }
            break
          case 37:
            if (this.$refs['codigo_' + (codigo - 1)]) {
              let el = this.$refs['codigo_' + (codigo - 1)].$el.querySelector('input')
              el.focus()
              setTimeout(() => el.select())
            }
            break
          case 39:
            if (this.$refs['codigo_' + (codigo + 1)]) {
              let el = this.$refs['codigo_' + (codigo + 1)].$el.querySelector('input')
              el.focus()
              setTimeout(() => el.select())
            }
            break
        }
      }
    },
    enviarCodigoConfirmacao () {
      if (this.validate()) {
        // this.$loading(true)
        enviarPin({
          telefone: this.numero,
          pin: this.codigoCompleto
        }).then((res) => {
          // this.$loading(false)
          this.setToken(res.data.authKey)
          if (res.data.authKey) {
            this.$emit('toHome')
          }
        }).catch((err) => {
          // this.$loading(false)
          for (var i = 0; i < this.codigo.length; i++) {
            this.$set(this.codigo, i, null)
          }
          if (err.response && !err.response.data.status) {
            this.$swal(err.response.data.mensagem)
          }
        })
      }
    },
    ...mapActions('login', ['enviarCodigo']),
    ...mapMutations('app', ['setToken'])
  }
}
</script>

<style lang="css" scoped>
.form-container {
  width: 50%;
  position: relative;
  left: 25%;
}
.centralize {
  display: flex;
  justify-content: center;
}
</style>