<template lang="html">
  <div class="login-container">
    <h1>Acesse ou crie sua conta</h1>
    <p>Não precisa de senha, é só digitar seu celular.</p>
    <p>Mais segurança e comodidade para você</p>
         <!---->

        <input label="Área" v-mask="'##'" :value="area" @input="setAreaAndFocus" placeholder="Mín Valor" class="form-control"> 
        <input ref="celular" :value="celular"  @input="setCelular"  v-mask="'# #### ####'" label="Celular" class="form-control"> 
        <button @click="login">Receber código por SMS</button>
    
      <!-- <v-col cols="12" sm="6" md="1">
        <span class="numero-span">+55</span>
      </v-col>
      <v-col cols="12" sm="6" md="3">
     
      <v-col cols="12" sm="6" md="8">
        <v-text-field
          ref="celular"
          :value="celular"
          @input="setCelular"
          v-mask="'# #### ####'"
          label="Celular"
          outlined
          rounded
        />
      </v-col>
    </v-row>
    <p>Você vai receber o código de confirmação no seu celular</p>
    <v-btn @click="login" rounded>
      Receber código por sms
    </v-btn>
    <br>
    <p class="mt-3">
      <a href="#">Entrar com e-mail</a>
    </p>
    <p class="mt-3">
      Ao continuar você concorda com os <a href="#">termos de uso</a> e
      <a href="#">Política de privacidade</a>
    </p> -->
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
import { VueMaskDirective } from 'v-mask'
export default {
  data() {
    return {
        area: '',
        celular: '',
    }
  },
  directives: {
    'mask': VueMaskDirective
  },
  computed: {
    // ...mapState('login', ['area', 'celular']),
  },
  methods: {
    setAreaAndFocus (value) {
      if (value.length === 2 && this.$refs.celular) {
        this.$refs.celular.$el.querySelector('input').focus()
      }
      this.setArea(value)
    },
    login () {
      this.setCelular(this.celular)
    //   this.$loading(true)
      this.enviarCodigo().then(() => {
        // this.$loading(false)
        this.$emit('toConfimarCodigo')
      }).catch(() => {
        // this.$loading(false)
      })
    },  
    ...mapActions('login', ['enviarCodigo']), 
    ...mapMutations('login', ['setArea', 'setCelular']  )
  } 
}
</script>

<style lang="css" scoped>
.numero-span {
  font-size: 30px;
  position: relative;
  top: 4px;
  right: 16px;
}
.login-container {
  text-align: center;
}
.form-container {
  position: relative;
  width: 40%;
  left: 30%;
}
</style>