<template>
    <modal 
      name="ModalReagendar"
      transition="nice-modal-fade"
    
      @before-open="beforeOpen"
      :min-height="400"
      :delay="100"
      :adaptive="true">
    <div class="example-modal-content" >
    Selecione um novo dia e horário<br>
          <!-- ******** -->
      <!-- STEP 0 -->
      <!-- ******** -->
      <div v-show="this.step == 0">
      <div class="row">
          <div class="col-md-3"  v-for="(dia, index) in this.dias" v-bind:key="'A'+index">
         <button style="border:dashed" @click="mostrarDias(index)">{{diaFormatado(dia)}}</button> 
       </div>
      </div>
      <!-- horários -->
      <div class="row">
          <div v-for="(dia, index) in this.dias" v-bind:key="'B'+index">
            <div   class="col-md-12"   v-show="dia && horariosDisponiveis && diaSelecionado == dia">
              <span v-for="(horario, m) in horariosDisponiveis[index]" v-bind:key="m">
                <button style="border:dashed;color:red;" @click="setHoraSelecionada(horario)">{{horario}}</button> 
              </span>
            </div>
          </div>
      </div>
      <!-- :disabled="!this.diaSelecionado || !this.horaSelecionada" -->
      <button @click="goToStep()"  v-bind:class="['ok', (this.diaSelecionado && this.horaSelecionada) ? 'enabled' : 'disabled']">Continuar</button><br/><Br/>
      Debug: Dia {{diaFormatado(this.diaSelecionado)}} Hora: {{this.horaSelecionada}}
      </div>

      
      <!-- ******** -->
      <!-- STEP 10 -->
      <!-- ******** -->
      <div v-show="this.step == 10">
        Estamos quase lá<br>
        Sua visita será agendada para<br>
        {{getDay(this.diaSelecionado)}}, {{diaFormatado(this.diaSelecionado)}} às {{this.horaSelecionada}}<br>
        <br>
        <p v-if="this.imovel">{{this.imovel.enderecoCompleto}}</p>
        <br>
        Certifique-se de que irá comparecer na data, horário e local marcados, pois o agente VÉSTOR irá disponibilizar esse tempo especialmente para você     
        <br><br>
        <button @click="goToStep()">Voltar</button> <button @click="reagendarVisita()">Confirmar Agendamento</button>
      </div>


    </div>
  </modal>
</template>
<style>
.disabled {
  background:red;
}
.enabled {
  background:green;
}
</style>
<script>
import { cancelarVisita,reagendarVisita,viewImovel } from "@/services/vestor";
export default {
 props: ['propImovel'],
 name: 'ModalReagendar',
 data: function () { 
  return {
    imovel: null,
    visita:null,
    step: 0,
    diasDisponiveis: [],
    dias: [],
    horariosDisponiveis: [],
    diaSelecionado: null,
    horaSelecionada: null,
  }
 },
 computed: {
 }, 
  methods: {
          setHoraSelecionada(horario){
      this.horaSelecionada=horario
    },
    mostrarDias(index){ 
      this.diaSelecionado = this.dias[index]
      this.horaSelecionada = null
    },
    zerar(){
      this.horaSelecionada = null;
      this.diaSelecionado = null;
      this.step = 0;
    },
          async viewImovel(){
         await viewImovel({id: this.visita.id})
        .then(
          response => {
           this.imovel = response.data.imovel
           this.diasDisponiveis =  Object.entries(response.data.diasDisponiveis)
        //    this.diasDisponiveis = this.diasDisponiveis[1]
        //    console.warn(this.diasDisponiveis)
          },
          error => {
            console.log(error);
          }
        );
      }, 
      async beforeOpen(event){
                //   console.warn(event.params.propImovel)
            this.visita = event.params.propImovel
          
          this.diasDisponiveis = [];
          this.dias = [];
          this.horariosDisponiveis = [];
           await this.viewImovel(); 
            // console.warn(this.imovel, this.diasDisponiveis);
        for (let i = 0; i < this.diasDisponiveis.length; i++) {
          const element = this.diasDisponiveis[i];
          // let data = element[0].split('-')
          //this.diaFormatada(dia)
          this.dias.push(new Date(element[0] + ' '+element[1][0]))
          this.horariosDisponiveis.push(element[1])
        }
      },
    getDay(dia){
      if(!dia)
        return '';
      switch(dia.getDay()) {
        case 6: return 'Domingo'; 
        case 0: return 'Segunda'; 
        case 1: return 'Terça';
        case 2: return 'Quarta';
        case 3: return 'Quinta';
        case 4: return 'Sexta'; 
        case 5: return 'Sábado'; 
        default: return '-'; 
      }
    },
    diaFormatado(dia){
      if(!dia)
        return '';
      return dia.toLocaleDateString('pt-BR')
    },
        goToStep(){
      console.log(this.step)
     switch(this.step){ 
       // Se eu estiver no início, verifico se existe o token e pulo pro 10 senão faço o processo de login
       case 0: 
         this.step = 10
        break;
        // Se eu estiver na confirmação de visita e voltar
        case 10:
            this.zerar()

     }
    },
    reagendarVisita(){
      // console.warn('processarVisita')
      reagendarVisita({data: {dia: this.diaSelecionado, hora: this.horaSelecionada, visita: this.visita }})
        .then(
          response => {
         
            if(response.data.status){
                this.zerar();
                this.close()
                alert("Regendado com sucesso!")
            } else {
                alert("Desculpe, este horário acabou de ser agendado")
                this.zerar();
            }
             
            console.log(response)
          },
          error => { 
            console.log(error); 
          }
        );
    },
    close(){
        this.$emit('closeModal')
    },
    async cancelar(){
        await this.cancelarVisita()
    },
     async cancelarVisita(){
          await cancelarVisita({id: this.imovel.visita.id})
        .then(
          response => {
                    //    let index = this.params.propImovel.findIndex((item) => {item.imovel.visita.id == this.imovel.id})
            // console.warn(index)
            if(response.data.status){
                alert('Cancelado com sucesso!');
                this.$emit('closeModal', {visitaRemovida: this.imovel.visita})
            } else {
                alert('Erro ao cancelar visita!');
            }
          },
          error => {
            console.log(error);
          }
        );
      },


 
  }
}
</script>
