<template>
    <modal 
      name="ModalVisita"
      transition="nice-modal-fade"
      :min-width="1000"
      @before-open="beforeOpen"
      :min-height="500"
      :delay="100"
      :adaptive="true">
    <div class="example-modal-content" >
         <button @click="zerar()">Zerar Step: {{this.step}}</button><br><br>
      <!-- ******** -->
      <!-- STEP 0 -->
      <!-- ******** -->
      <div v-show="this.step == 0">
      <div class="row">
          <div class="col-md-3"  v-for="(dia, index) in this.dias" v-bind:key="'A'+index">
         <button style="border:dashed" @click="mostrarDias(index)">{{diaFormatado(dia)}}</button> 
       </div>
      </div>
      <!-- horários -->
      <div class="row">
          <div v-for="(dia, index) in this.dias" v-bind:key="'B'+index">
            <div   class="col-md-12"   v-show="dia && horariosDisponiveis && diaSelecionado == dia">
              <span v-for="(horario, m) in horariosDisponiveis[index]" v-bind:key="m">
                <button style="border:dashed;color:red;" @click="setHoraSelecionada(horario)">{{horario}}</button> 
              </span>
            </div>
          </div>
      </div>
      <!-- :disabled="!this.diaSelecionado || !this.horaSelecionada" -->
      <button @click="goToStep()"  v-bind:class="['ok', (this.diaSelecionado && this.horaSelecionada) ? 'enabled' : 'disabled']">Continuar</button><br/><Br/>
      Debug: Dia {{diaFormatado(this.diaSelecionado)}} Hora: {{this.horaSelecionada}}
      </div>

      
      <!-- ******** -->
      <!-- STEP 10 -->
      <!-- ******** -->
      <div v-show="this.step == 10">
        Estamos quase lá<br>
        Sua visita será agendada para<br>
        {{getDay(this.diaSelecionado)}}, {{diaFormatado(this.diaSelecionado)}} às {{this.horaSelecionada}}<br>
        <br>
        {{this.imovel.endereco.completo}}
        <br>
        Certifique-se de que irá comparecer na data, horário e local marcados, pois o agente VÉSTOR irá disponibilizar esse tempo especialmente para você     
        <br><br>
        <button @click="goToStep()">Voltar</button> <button @click="processarVisita()">Confirmar Agendamento</button>
      </div>

      <!-- ******** -->
      <!-- STEP 20 -->
      <!-- ******** -->
      <div v-show="this.step == 20">
        Confirme seu contato<br>
        <input type="number" v-model="ddd" style="border:dashed;" >
        <input type="number" v-model="telefone" style="border:dashed;" ><br>
        <button @click="receberSMS()">Receber código por SMS</button>
      </div>

      <!-- ******** -->
      <!-- STEP 21 -->
      <!-- ******** -->
      <div v-show="this.step == 21">
        Digite o PIN<br>
        <input type="number" v-model="pin1"  style="border:dashed;" min="0" max="9">
        <input type="number" v-model="pin2" style="border:dashed;" min="0" max="9" >
        <input type="number" v-model="pin3" style="border:dashed;" min="0" max="9">
        <input type="number" v-model="pin4" style="border:dashed;"  min="0" max="9">
        <br>
        <button @click="autenticar()">Continuar</button><br><br>
        Debug: Pin gerado {{pin}}
        <!-- <button @click="receberSMS()">Receber código por SMS</button> --> 
      </div>

      <!-- ******** -->
      <!-- STEP 22 -->
      <!-- ******** -->
      <div v-show="this.step == 22">
        Falta só mais pouquinho<br>        
      </div>

            <!-- ******** -->
      <!-- STEP 23 -->
      <!-- ******** -->
      <div v-show="this.step == 23">
        Você acabou de agendar uma visita nesse imóvel, clique <a>aqui</a> para editar sua visita<br>        
      </div>
    </div>
  </modal>
</template>
<style>
.disabled {
  background:red;
}
.enabled {
  background:green;
}
</style>
<script>
import { gerarSessao, enviarPin, novaVisita, viewImovel } from "@/services/vestor";

export default {
 props: ['propImovel'],
 name: 'ModalVisita',
 data: function () { 
  return {
    diasDisponiveis: [],
    imovel: this.propImovel,
    step: 0,
    dias: [],
    horariosDisponiveis: [],
    diaSelecionado: null,
    horaSelecionada: null,
    // imovel: this.propImovel,
    token: localStorage.getItem('token'),
    //step20
    ddd: 12,
    telefone: 982948776,
    // step 21
    pin: null,
    pin1: null,
    pin2: null,
    pin3: null,
    pin4: null,
   
  }
 },
 computed: {

 },
  methods: {
    async viewImovel(){
         await viewImovel({id: this.imovel.id})
        .then(
          response => {
           this.imovel = response.data.imovel
           this.diasDisponiveis =  Object.entries(response.data.diasDisponiveis)
        //    this.diasDisponiveis = this.diasDisponiveis[1]
        //    console.warn(this.diasDisponiveis)
          },
          error => {
            console.log(error);
          }
        );
      },

        async beforeOpen(){
          this.diasDisponiveis = [];
          this.dias = [];
          this.horariosDisponiveis = [];
           await this.viewImovel();
            console.warn(this.imovel, this.diasDisponiveis);
        for (let i = 0; i < this.diasDisponiveis.length; i++) {
          const element = this.diasDisponiveis[i];
          
          // let data = element[0].split('-')
          //this.diaFormatada(dia)
          this.dias.push(new Date(element[0] + ' '+element[1][0]))
          this.horariosDisponiveis.push(element[1])
        }
      },
    getDay(dia){
      if(!dia)
        return '';
      switch(dia.getDay()) {
        case 6: return 'Domingo'; 
        case 0: return 'Segunda'; 
        case 1: return 'Terça';
        case 2: return 'Quarta';
        case 3: return 'Quinta';
        case 4: return 'Sexta'; 
        case 5: return 'Sábado'; 
        default: return '-';
      }
    },
    diaFormatado(dia){
      if(!dia)
        return '';
      return dia.toLocaleDateString('pt-BR')
    },
    processarVisita(){
      // console.warn('processarVisita')
      novaVisita({data: {dia: this.diaSelecionado, hora: this.horaSelecionada, imovel: this.imovel}})
        .then(
          response => {
            alert(response.data.message) 
            //deu erro
            if(response.data.code_error){
              this.viewImovel(this.imovel.id)
            // sucesso
            } 
            this.zerar() 
            if(response.data.status){
                  this.$emit('closeModal')
                  this.step = 23
            }
             
            console.log(response)
          },
          error => {
            console.log(error); 
          }
        );
    },
    goToStep(){
      console.log(this.step)
     switch(this.step){ 
       // Se eu estiver no início, verifico se existe o token e pulo pro 10 senão faço o processo de login
       case 0: 
        if(this.token){
          this.step = 10

        } else {
          this.step = 20
        }
        break;
        // Se eu estiver na confirmação de visita e voltar
        case 10:
            this.zerar()

     }
    },
    setHoraSelecionada(horario){
      this.horaSelecionada=horario
    },
    mostrarDias(index){ 
      this.diaSelecionado = this.dias[index]
      this.horaSelecionada = null
    },
    //step 20
    receberSMS(){
      gerarSessao({telefone: this.ddd.toString()+this.telefone.toString()})
        .then(
          response => {
            this.step = 21
            console.log(response)
            this.pin = response.data.data.pin
            // this.diasDisponiveis = this.diasDisponiveis[1]
            // console.warn(this.diasDisponiveis)
          },
          error => {
            console.log(error); 
          }
        );
    },
    autenticar(){
      let pin = this.pin1.toString() + this.pin2.toString() + this.pin3.toString() + this.pin4.toString()
      //enviarPin
      enviarPin({telefone: this.ddd.toString()+this.telefone.toString(), pin})
        .then(
          response => {
            if(response.data.status == false){
              this.pin1 = null;
              this.pin2 = null;
              this.pin3 = null;
              this.pin4 = null;
              return alert(response.data.message)
            }
            localStorage.setItem('token', response.data.authKey);
            localStorage.setItem('usuario', JSON.stringify(response.data));

            this.step = 10
            // this.diasDisponiveis = this.diasDisponiveis[1]
            // console.warn(this.diasDisponiveis)
             
          },
          error => {
            console.log(error);
          }
        );
    },
    zerar(){
      this.horaSelecionada = null;
      this.diaSelecionado = null;
      this.step = 0;
    }
  }
}
</script>
