<template>
    <modal 
      name="ModalCancelar"
      transition="nice-modal-fade"
    
      @before-open="beforeOpen"
    
      :delay="100"
      :adaptive="true">
    <div class="example-modal-content" >
    Deseja realmente cancelar a visita?<br>
    <button @click="close()">Não</button><br>
    <button @click="cancelar()" >Sim</button>
    </div>
  </modal>
</template>
<style>
.disabled {
  background:red;
}
.enabled {
  background:green;
}
</style>
<script>
import { cancelarVisita } from "@/services/vestor";
export default {
 props: ['propImovel'],
 name: 'ModalCancelar',
 data: function () { 
  return {
      imovel: null
  }
 },
 computed: {
 },
  methods: {
    close(){
        this.$emit('closeModal')
    },
    async cancelar(){
        await this.cancelarVisita()
    },
     async cancelarVisita(){
          await cancelarVisita({id: this.imovel.visita.id})
        .then(
          response => {
                    //    let index = this.params.propImovel.findIndex((item) => {item.imovel.visita.id == this.imovel.id})
            // console.warn(index)
            if(response.data.status){
                alert('Cancelado com sucesso!');
                this.$emit('closeModal', {visitaRemovida: this.imovel.visita})
            } else {
                alert('Erro ao cancelar visita!');
            }
          },
          error => {
            console.log(error);
          }
        );
      },

    async beforeOpen(event){
        this.imovel = event.params.propImovel
    },

 
  }
}
</script>
