<template>
    <modal 
      name="ModalAlterarTelefone"
      transition="nice-modal-fade"
      :min-width="1000"
      @before-open="beforeOpen"
      :min-height="500"
      :delay="100"
      :adaptive="true">
    <div class="example-modal-content" >
    <button @click="zerar()">Zerar Step: {{this.step}}</button><br><br>

      <!-- ******** -->
      <!-- STEP 20 -->
      <!-- ******** -->
      <div v-show="this.step == 20">
        Confirme seu contato<br>
        <input type="number" v-model="ddd" style="border:dashed;" >
        <input type="number" v-model="telefone" style="border:dashed;" ><br>
        <button @click="receberSMS()">Receber código por SMS</button>
      </div>

      <!-- ******** -->
      <!-- STEP 21 -->
      <!-- ******** -->
      <div v-show="this.step == 21">
        Digite o PIN<br>
        <input type="number" v-model="pin1"  style="border:dashed;" min="0" max="9">
        <input type="number" v-model="pin2" style="border:dashed;" min="0" max="9" >
        <input type="number" v-model="pin3" style="border:dashed;" min="0" max="9">
        <input type="number" v-model="pin4" style="border:dashed;"  min="0" max="9">
        <br>
        <button @click="autenticar()">Continuar</button><br><br>
        Debug: Pin gerado {{pin}}
      </div>

    </div>
  </modal>
</template>
<style>
.disabled {
  background:red;
}
.enabled {
  background:green;
}
</style>
<script>
import { gerarSessao, enviarPin } from "@/services/vestor";
import { viewUsuario } from "@/services/vestor";

export default {
 props: ['propUsuario'],
 name: 'ModalAlterarTelefone',
 data: function () { 
  return {
    diasDisponiveis: [],
    usuario: this.propUsuario,
    step: 20,
    dias: [],
    horariosDisponiveis: [],
    diaSelecionado: null,
    horaSelecionada: null,
    // imovel: this.propImovel,
    token: localStorage.getItem('token'),
    //step20
    ddd: null,
    telefone: null,
    // step 21
    pin: null,
    pin1: null,
    pin2: null,
    pin3: null,
    pin4: null,
   
  }
 },
 computed: {

 },
  methods: {
     async viewUsuario(){
          await viewUsuario()
        .then(
          response => {
            this.usuario = response.data.usuario
          },
          error => {
            console.log(error);
          }
        );
      },
    // async viewImovel(){
    //     //  await viewImovel({id: this.imovel.id})
    //     // .then(
    //     //   response => {
    //     //    this.imovel = response.data.imovel
    //     //    this.diasDisponiveis =  Object.entries(response.data.diasDisponiveis)
    //     // //    this.diasDisponiveis = this.diasDisponiveis[1]
    //     // //    console.warn(this.diasDisponiveis)
    //     //   },
    //     //   error => {
    //     //     console.log(error);
    //     //   }
    //     // );
    //   },
    async beforeOpen(){
        await this.viewUsuario();
        console.warn(this.usuario)
        this.step = 20
        this.ddd = this.usuario.pessoa.telefone.substring(0,2)
        this.telefone = this.usuario.pessoa.telefone.substring(2,80)  
    },

    goToStep(){
      console.log(this.step)
     switch(this.step){ 
       // Se eu estiver no início, verifico se existe o token e pulo pro 10 senão faço o processo de login
       case 0: 
        if(this.token){
          this.step = 10

        } else {
          this.step = 20
        }
        break;
        // Se eu estiver na confirmação de visita e voltar
        case 10:
            this.zerar()

     }
    },
    setHoraSelecionada(horario){
      this.horaSelecionada=horario
    },
    mostrarDias(index){ 
      this.diaSelecionado = this.dias[index]
      this.horaSelecionada = null
    },
    //step 20
    receberSMS(){
      gerarSessao({telefone: this.ddd.toString()+this.telefone.toString()})
        .then(
          response => {
            this.step = 21
            console.log(response)
            this.pin = response.data.data.pin
            // this.diasDisponiveis = this.diasDisponiveis[1]
            // console.warn(this.diasDisponiveis)
          },
          error => {
            console.log(error); 
          }
        );
    },
    async autenticar(){
      let pin = this.pin1.toString() + this.pin2.toString() + this.pin3.toString() + this.pin4.toString()
      //enviarPin
       enviarPin({telefone: this.ddd.toString()+this.telefone.toString(), pin, usuario: this.usuario})
        .then(
          response => {
            if(response.data.status == false){
              this.pin1 = null;
              this.pin2 = null;
              this.pin3 = null;
              this.pin4 = null;
              return alert(response.data.message)
            }
            localStorage.setItem('token', response.data.authKey);
            localStorage.setItem('usuario', JSON.stringify(response.data));

            this.step = 10
            this.$emit('closeModal')
            // this.diasDisponiveis = this.diasDisponiveis[1]
            // console.warn(this.diasDisponiveis)
             
          },
          error => {
            console.log(error);
          }
        );
    },
    zerar(){
      this.horaSelecionada = null;
      this.diaSelecionado = null;
      this.step = 0;
    }
  }
}
</script>
