<template>
  <span v-if="condition == 'sim'">
   <del>{{ before }}</del> {{after}}
  </span>
  <span v-else>
   {{ before }}
  </span>
</template>

<script>
export default {
  name: 'Taxado',
  props: {
    before: String,
    after: String,
    condition: String
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
