<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
  <div class="container-fluid back_header_agendamento ">
    <div class="row">
      <div class="col-md-12 text-center">
        <img class=" img-responsive" src="./static/images/logo-branco.png" alt="logo vestor">
      </div>
    </div>
  </div>
  <!-- CONTEUDO -->
  <div class="container-fluid">

    <div class="col-md-2 agendamento text-center">
      <button>VOLTAR AO IMÓVEL</button>
    </div>

    <div class="text-center agendamento">
      <h1>Falta pouco para agendarmos</h1>
      <h1>sua visita</h1>
      <h3>Fevereiro / 2020</h3>
      <h5>Escolha o dia</h5>
    </div>

    <div class="row text-center agendamento">
      <span>
        <h6>QUA</h6>
        <p>11</p>
      </span>
      <span>
        <h6>QUA</h6>
        <p>11</p>
      </span>
      <span>
        <h6>QUA</h6>
        <p>11</p>
      </span>
      <span>
        <h6>QUA</h6>
        <p>11</p>
      </span>
      <span>
        <h6>QUA</h6>
        <p>11</p>
      </span>
      <span>
        <h6>QUA</h6>
        <p>11</p>
      </span>
    </div>
  </div>
  <div class="text-center agendamento">
    <h5>E o horário</h5>
  </div>
  <div class="row text-center agendamento_horario">
    <span>

      <p>9:30</p>
    </span>
    <span>

      <p>10:00</p>
    </span>
    <span>

      <p>10:30</p>
    </span>
    <span>

      <p>11:00</p>
    </span>
    <span>

      <p>11:30</p>
    </span>
    <span>

      <p>12:00</p>
    </span>
  </div>
  <div class="row text-center agendamento_horario">
    <span>

      <p>9:30</p>
    </span>
    <span>

      <p>10:00</p>
    </span>
    <span>

      <p>10:30</p>
    </span>
    <span>

      <p>11:00</p>
    </span>
    <span>

      <p>11:30</p>
    </span>
    <span>

      <p>12:00</p>
    </span>
  </div>
  <!-- TERMINA HORARIOS -->
  <div class="row agendamento_horario text-center">
    <div class="col-md-2   align-self-center">
      <button>CONTINUAR</button>
    </div>
  </div>

  </div>

  <div class="agendamento">
    <footer>
      <img class=" img-responsive" src="./static/images/logo-color.png" alt="logo vestor">
      <div class="agendamento text-center">
        <h5>© Véstor Ltda • Todos os direitos reservados • CRECI</h5>
      </div>
    </footer>
  </div>
  <script src="js/popper.min.js"></script>
  <script src="js/jquery-3.4.1.slim.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>