<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
  <div class="container-fluid back_header_agendamento ">
    <div class="row">
      <div class="col-md-12 text-center">
        <img class=" img-responsive" src="./static/images/logo-branco.png" alt="logo vestor">
      </div>
    </div>
  </div>
  <!-- CONTEUDO -->
  <div class="container-fluid">

    <div class="col-md-2 agendamento text-center">
      <button>VOLTAR AO IMÓVEL</button>
    </div>

    <div class="text-center agendamento">
      <h1>Estamos quase lá</h1>
    </div>
    <div class=" text-center col confirmacao_agendamento">
      <h5>Sua visita será agendada para</h5>
      <div class="text-center col-12 confirmacao_agendamento">
        <button>
          Segunda-feira, 10/02/2020 às 09:30
        </button>

      </div>
      <div class="container text-center col confirmacao_agendamento">
        <h4>Rua das Peônias, 527 Santana São josé dos Campos</h4>
        <p>Certifique-se de que irá comparecer na data, horário e local marcados, pois o agente VÉSTOR irá
          disponibilizar esse tempo especialmente para você.</p>
      </div>
    </div>

    <!-- TERMINA HORARIOS -->
    <div class="row agendamento_horario text-center">
      <div class="col-md-2   align-self-center">
        <button>VOLTAR</button>
      </div>
      <div class="col-md-2   align-self-center">
        <button>CONFIRMAR</button>
      </div>
    </div>

  </div>

  <div class="agendamento">
    <footer>
      <img class=" img-responsive" src="./static/images/logo-color.png" alt="logo vestor">
      <div class="agendamento text-center">
        <h5>© Véstor Ltda • Todos os direitos reservados • CRECI</h5>
      </div>
    </footer>
  </div>
  <script src="js/popper.min.js"></script>
  <script src="js/jquery-3.4.1.slim.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>