<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
  <div class="container-fluid back_header_agendamento ">
    <div class="row">
      <div class="col-md-12 text-center">
        <img class=" img-responsive" src="./static/images/logo-branco.png" alt="logo vestor">
      </div>
    </div>
  </div>
  <!-- CONTEUDO -->
  <div class="text-center agendamento col">
    <h1 style="margin-top: 1em;">Falta só mais um pouquinho </h1>
  </div>
  <!-- COMECA INPUT -->
  <div class=" container text-center col  agendamento">
    <div class=" input-group align-self-center ">
      <div class="col-md-4 ">
        <input type="text" class="form-control" placeholder="Nome Completo">
      </div>

      <div class=" input-group align-self-center ">
        <div class="col-md-4 ">
          <input type="text" class="form-control" placeholder="E-mail">
        </div>
      </div>
    </div>

    <!-- TERMINA INPUT -->
    <div class="row col agendamento_horario text-center">
      <div style="margin-top: 3em;" class="col-md-2 align-self-center">
        <button>CONTINUAR</button>
      </div>
    </div>

  </div>

  <div class="agendamento">
    <footer>
      <img class=" img-responsive" src="./static/images/logo-color.png" alt="logo vestor">
      <div class="agendamento text-center">
        <h5>© Véstor Ltda • Todos os direitos reservados • CRECI</h5>
      </div>
    </footer>
  </div>
  <script src="js/popper.min.js"></script>
  <script src="js/jquery-3.4.1.slim.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>