<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
  <div class="container-fluid back_header_agendamento ">
    <div class="row">
      <div class="col-md-12 text-center">
        <img class=" img-responsive" src="./static/images/logo-branco.png" alt="logo vestor">
      </div>
    </div>
  </div>
  <!-- CONTEUDO -->
  <div class="text-center agendamento col">
    <h1 style="margin-top: 1em;">Confirmação de acesso</h1>

    <h4>Digite o código enviado para o número <strong>+5512991111111</strong></h4>

  </div>
  <!-- COMECA INPUT -->
  <div class="row">
    <div class=" input-group container" style=" margin-top: 1.5em">
      <div class="col-md-2 col-3 confirmacao_visita">
        <input type="text" class="form-control">
      </div>
      <div class="col-md-2 col-3 confirmacao_visita">
        <input type="text" class="form-control">
      </div>
      <div class="col-md-2 col-3 confirmacao_visita">
        <input type="text" class="form-control">
      </div>
      <div class="col-md-2 col-3 confirmacao_visita">
        <input type="text" class="form-control">
      </div>
    </div>

  </div>
  <!-- TERMINA INPUT -->
  <div class="row agendamento_horario text-center" style="margin-top: 2em;">
    <div class="col-md-3 align-self-center">
      <button>CONFIRMAR</button>
      <h5>Não recebi o código</h5>
    </div>
  </div>

  </div>

  <div class="agendamento">
    <footer>
      <img class=" img-responsive" src="./static/images/logo-color.png" alt="logo vestor">
      <div class="agendamento text-center">
        <h5>© Véstor Ltda • Todos os direitos reservados • CRECI</h5>
      </div>
    </footer>
  </div>
  <script src="js/popper.min.js"></script>
  <script src="js/jquery-3.4.1.slim.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>