<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
  <div class="container-fluid back_header_agendamento ">
    <div class="row">
      <div class="col-md-12 text-center">
        <img class=" img-responsive" src="./static/images/logo-branco.png" alt="logo vestor">
      </div>
    </div>
  </div>
  <!-- CONTEUDO -->
  <div class="text-center agendamento col">
    <h1 style="margin-top: 1em;">Acesse ou crie sua conta</h1>

    <h4>Não precisa de senha, é só digitar seu celular.
      Mais segurança e comodidade para você.</h4>

  </div>
  <!-- COMECA INPUT -->
  <div class="row container text-center col  agendamento">
    <div class=" input-group align-self-center ">
      <div class="col-md-1 col-4 " style="padding-right: 0px !important;">
        <input type="text" class="form-control" placeholder="Área">
      </div>
      <div class="col-md-3 col-6" style="padding-left: 0.4em !important; padding-right: 0px;">
        <input type="text" class="form-control" placeholder="Celular">
      </div>
    </div>
    <h6 class="text-center">Você vai receber um código de confirmação no seu celular</h6>
  </div>
  <!-- TERMINA INPUT -->
  <div class="row agendamento_horario text-center">
    <div class="col-md-3 col-10 align-self-center">
      <button>RECEBER CÓDIGO POR SMS</button>
    </div>
  </div>

  <div class="text-center agendamento_horario">
    <h4>Ao continuar você concorda com os
      <strong>Termos de uso</strong> e <strong>Política de privacidade</strong> </h4>
  </div>



  <div class="agendamento">
    <footer>
      <img class=" img-responsive" src="./static/images/logo-color.png" alt="logo vestor">
      <div class="agendamento text-center">
        <h5>© Véstor Ltda • Todos os direitos reservados • CRECI</h5>
      </div>
    </footer>
  </div>
  <script src="js/popper.min.js"></script>
  <script src="js/jquery-3.4.1.slim.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>