.vr-modal .modal {
    background-color: #fff;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    position: absolute;
    z-index: 2
}

.vr-modal-enter,
.vr-modal-leave-active {
    opacity: 0
}

@media screen and (max-width:719px) {
    .modal {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%
    }
}

@media screen and (min-width:720px) {
    .modal {
        left: 50%;
        max-width: 90%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-webkit-keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.form__field input[type=number],
.form__field input[type=tel],
.form__field input[type=text],
.form__field textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    color: rgba(0, 0, 0, .54);
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    max-width: 100%;
    padding: 12px;
    height: 44px;
    width: 100%
}

.form__field input[type=number]::-webkit-input-placeholder,
.form__field input[type=tel]::-webkit-input-placeholder,
.form__field input[type=text]::-webkit-input-placeholder,
.form__field textarea::-webkit-input-placeholder {
    font-weight: 400
}

.form__field input[type=number]::-moz-placeholder,
.form__field input[type=tel]::-moz-placeholder,
.form__field input[type=text]::-moz-placeholder,
.form__field textarea::-moz-placeholder {
    font-weight: 400
}

.form__field input[type=number]::-ms-input-placeholder,
.form__field input[type=tel]::-ms-input-placeholder,
.form__field input[type=text]::-ms-input-placeholder,
.form__field textarea::-ms-input-placeholder {
    font-weight: 400
}

.form__field input[type=number]::placeholder,
.form__field input[type=tel]::placeholder,
.form__field input[type=text]::placeholder,
.form__field textarea::placeholder {
    font-weight: 400
}

.form__field input[type=number]:not(:disabled):active,
.form__field input[type=number]:not(:disabled):focus,
.form__field input[type=tel]:not(:disabled):active,
.form__field input[type=tel]:not(:disabled):focus,
.form__field input[type=text]:not(:disabled):active,
.form__field input[type=text]:not(:disabled):focus,
.form__field textarea:not(:disabled):active,
.form__field textarea:not(:disabled):focus {
    border-color: #1190cd;
    -webkit-box-shadow: inset 0 0 0 1px #1190cd;
    box-shadow: inset 0 0 0 1px #1190cd;
    color: rgba(0, 0, 0, .87)
}

.form__field input[type=number]:invalid,
.form__field input[type=tel]:invalid,
.form__field input[type=text]:invalid,
.form__field textarea:invalid {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form__field input[type=number]:disabled,
.form__field input[type=tel]:disabled,
.form__field input[type=text]:disabled,
.form__field textarea:disabled {
    background: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .38)
}

.form__field input[type=number][aria-invalid],
.form__field input[type=number][aria-invalid]:active,
.form__field input[type=number][aria-invalid]:focus,
.form__field input[type=tel][aria-invalid],
.form__field input[type=tel][aria-invalid]:active,
.form__field input[type=tel][aria-invalid]:focus,
.form__field input[type=text][aria-invalid],
.form__field input[type=text][aria-invalid]:active,
.form__field input[type=text][aria-invalid]:focus,
.form__field textarea[aria-invalid],
.form__field textarea[aria-invalid]:active,
.form__field textarea[aria-invalid]:focus {
    border-color: #e64a45;
    -webkit-box-shadow: inset 0 0 0 1px #e64a45;
    box-shadow: inset 0 0 0 1px #e64a45
}

.form__field textarea {
    height: 100.8px
}

.form__field [aria-invalid=customError]~[visible-when-invalid=customError],
.form__field [aria-invalid=patternMismatch]~[visible-when-invalid=patternMismatch],
.form__field [aria-invalid=valueMissing]~[visible-when-invalid=valueMissing] {
    display: block
}

.form__select-wrapper {
    position: relative
}

.form__select-wrapper:before {
    background: url(https://cdn1.vivareal.com/p/14708-04571bd/v/static/app/svg/styleguide/icons/ic-chevron-up-gray.svg) no-repeat 50%;
    background-size: 23px;
    content: "";
    display: inline-block;
    height: 100%;
    min-height: 23px;
    vertical-align: middle;
    width: 23px;
    height: 44px;
    pointer-events: none;
    position: absolute;
    right: 4px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.form__select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    color: rgba(0, 0, 0, .54);
    outline: none;
    color: rgba(0, 0, 0, .87)
}

.form__select-wrapper select::-webkit-input-placeholder {
    font-weight: 400
}

.form__select-wrapper select::-moz-placeholder {
    font-weight: 400
}

.form__select-wrapper select::-ms-input-placeholder {
    font-weight: 400
}

.form__select-wrapper select::placeholder {
    font-weight: 400
}

.form__select-wrapper select:not(:disabled):active,
.form__select-wrapper select:not(:disabled):focus {
    border-color: #1190cd;
    -webkit-box-shadow: inset 0 0 0 1px #1190cd;
    box-shadow: inset 0 0 0 1px #1190cd;
    color: rgba(0, 0, 0, .87)
}

.form__select-wrapper select:invalid {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form__select-wrapper select[aria-invalid],
.form__select-wrapper select[aria-invalid]:active,
.form__select-wrapper select[aria-invalid]:focus {
    border-color: #e64a45;
    -webkit-box-shadow: inset 0 0 0 1px #e64a45;
    box-shadow: inset 0 0 0 1px #e64a45
}

.form__select-wrapper select:disabled {
    background: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .38)
}

.form__select-wrapper select:focus:enabled,
.form__select-wrapper select:hover:enabled {
    border-color: #1190cd
}

.form__select-multiple-wrapper .select-multiple__static,
.form__select-wrapper select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    max-width: 100%;
    height: 44px;
    width: 100%;
    padding: 12px 16px 12px 12px
}

.form__select-multiple-wrapper .select-multiple__static {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    color: rgba(0, 0, 0, .54);
    outline: none;
    display: block;
    line-height: normal;
    position: relative
}

.form__select-multiple-wrapper .select-multiple__static::-webkit-input-placeholder {
    font-weight: 400
}

.form__select-multiple-wrapper .select-multiple__static::-moz-placeholder {
    font-weight: 400
}

.form__select-multiple-wrapper .select-multiple__static::-ms-input-placeholder {
    font-weight: 400
}

.form__select-multiple-wrapper .select-multiple__static::placeholder {
    font-weight: 400
}

.form__select-multiple-wrapper .select-multiple__static:not(:disabled):active,
.form__select-multiple-wrapper .select-multiple__static:not(:disabled):focus {
    border-color: #1190cd;
    -webkit-box-shadow: inset 0 0 0 1px #1190cd;
    box-shadow: inset 0 0 0 1px #1190cd;
    color: rgba(0, 0, 0, .87)
}

.form__select-multiple-wrapper .select-multiple__static:invalid {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form__select-multiple-wrapper .select-multiple__static:disabled {
    background: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .38)
}

.form__select-multiple-wrapper .select-multiple__static[aria-invalid],
.form__select-multiple-wrapper .select-multiple__static[aria-invalid]:active,
.form__select-multiple-wrapper .select-multiple__static[aria-invalid]:focus {
    border-color: #e64a45;
    -webkit-box-shadow: inset 0 0 0 1px #e64a45;
    box-shadow: inset 0 0 0 1px #e64a45
}

.form__select-multiple-wrapper .select-multiple__static:before {
    background: url(https://cdn1.vivareal.com/p/14708-04571bd/v/static/app/svg/styleguide/icons/ic-chevron-up-gray.svg) no-repeat 50%;
    background-size: 23px;
    content: "";
    display: inline-block;
    height: 100%;
    min-height: 23px;
    vertical-align: middle;
    width: 23px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.form__select-multiple-wrapper .select-multiple__input {
    display: none
}

.form__select-multiple-wrapper .select-multiple__input:checked+.select-multiple__static:before {
    -webkit-transform: none;
    transform: none
}

.form__select-multiple-wrapper .select-multiple__input:disabled+.select-multiple__static {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .3
}

.form__select-multiple-wrapper .select-multiple__list input {
    left: 0;
    margin: 0;
    position: absolute;
    top: 17px
}

.form__select-multiple-wrapper .select-multiple__list input:checked+label {
    font-weight: 600
}

.form__select-multiple-wrapper .select-multiple__list label {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #212121;
    cursor: pointer;
    display: block;
    padding: 12px 16px 12px 24px
}

@media screen and (max-width:719px) {
    .form__select-multiple-wrapper .select-multiple__list input {
        top: 20px
    }
    .form__select-multiple-wrapper .select-multiple__list label {
        padding: 16px 24px
    }
}

.form__select-multiple-wrapper .select-multiple__list input:checked+label,
.form__select-multiple-wrapper .select-multiple__list label:hover {
    background-color: #ecf6fc;
    color: #1190cd
}

.form__select-multiple-wrapper .select-multiple__list input {
    left: 16px
}

.form__select-multiple-wrapper .select-multiple__list label {
    padding-left: 44px
}

@media screen and (max-width:719px) {
    .form__select-multiple-wrapper .select-multiple__list input {
        left: 24px
    }
    .form__select-multiple-wrapper .select-multiple__list label {
        padding-left: 52px
    }
}

.form__select-multiple-wrapper .select-multiple__list-item {
    position: relative
}

.form__select-multiple-wrapper .select-multiple__container {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    display: none
}

.form__select-multiple-wrapper .select-multiple__title {
    color: #757575;
    font-weight: 600;
    text-transform: uppercase
}

.form__select-multiple-wrapper .select-multiple__cta {
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #1190cd;
    border: 0;
    color: #fff
}

.form__select-multiple-wrapper .select-multiple__cta:focus {
    outline: 0
}

.form__select-multiple-wrapper .select-multiple__cta[disabled] {
    cursor: not-allowed;
    opacity: .5
}

.form__select-multiple-wrapper .select-multiple__cta:not([disabled]):hover {
    background: #249ad1
}

.form__select-multiple-wrapper .select-multiple__cta:active {
    background: #0b7eb6
}

.form__select-multiple-wrapper .select-multiple__actions,
.form__select-multiple-wrapper .select-multiple__subtitle {
    display: none
}

@media screen and (max-width:719px) {
    .form__select-multiple-wrapper .select-multiple__container {
        padding-bottom: 44px
    }
    .form__select-multiple-wrapper .select-multiple__actions {
        bottom: 0;
        display: block;
        left: 0;
        padding: 16px 24px;
        position: fixed;
        right: 0
    }
    .form__select-multiple-wrapper .select-multiple__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        display: block;
        margin: 24px 24px 8px;
        position: relative
    }
    .form__select-multiple-wrapper .select-multiple__subtitle:after {
        background: url(https://cdn1.vivareal.com/p/14708-04571bd/v/static/app/svg/styleguide/icons/ic-close-blue.svg) no-repeat 50%;
        background-size: 14px;
        content: "";
        display: inline-block;
        height: 100%;
        min-height: 14px;
        vertical-align: middle;
        width: 14px;
        position: absolute;
        right: 0
    }
    .form__select-multiple-wrapper .select-multiple__input:checked~.select-multiple__container {
        background: #fff;
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 5
    }
    .form__select-multiple-wrapper .select-multiple__title {
        margin: 24px 24px 8px
    }
    .form__select-multiple-wrapper .select-multiple__cta {
        border-radius: 32px;
        -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
        margin-top: 8px;
        width: 100%
    }
}

@media screen and (min-width:720px) {
    .form__select-multiple-wrapper .select-multiple__column {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 24px 12px
    }
    .form__select-multiple-wrapper .select-multiple__column+.select-multiple__column {
        padding-left: 0
    }
    .form__select-multiple-wrapper .select-multiple__static {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 13px;
        max-width: 100%;
        height: 44px;
        width: 100%;
        padding: 12px 16px 12px 12px
    }
    .form__select-multiple-wrapper .select-multiple__actions {
        border-top: 1px solid rgba(0, 0, 0, .12);
        padding: 16px;
        text-align: right;
        width: 100%
    }
    .form__select-multiple-wrapper .select-multiple__cta {
        padding-left: 32px;
        padding-right: 32px
    }
    .form__select-multiple-wrapper .select-multiple__title {
        margin: 0 16px 8px
    }
    .form__select-multiple-wrapper .select-multiple__container {
        background: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 4px;
        position: absolute;
        width: 100%;
        z-index: 5
    }
    .form__select-multiple-wrapper .select-multiple__input:checked~.select-multiple__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width:1050px) {
    .form__select-multiple-wrapper .select-multiple__container {
        width: 565px
    }
}

.form__field,
.form__select-multiple-wrapper,
.form__select-wrapper {
    line-height: 1;
    margin-bottom: 16px;
    width: 100%
}

.form__label {
    color: rgba(0, 0, 0, .54);
    display: block;
    margin-bottom: 8px;
    text-transform: uppercase
}

.form__error,
.form__label {
    font-size: 13px;
    line-height: 21px;
    font-weight: 600
}

.form__error {
    color: #e64a45;
    display: none;
    margin-top: 8px
}

.form__pills .filter-pills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.form__pills .filter-pills .filter-pills__item {
    text-align: center
}

.form__pills .filter-pills .filter-pills__button {
    border-radius: 32px;
    border: 1px solid #1190cd;
    color: #1190cd;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 32px;
    line-height: 31px;
    padding: 0 12px;
    position: relative;
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, .12);
    background: #fff;
    color: rgba(0, 0, 0, .54);
    max-width: 44px
}

.form__pills .filter-pills .filter-pills__button[data-disabled] {
    background: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .4);
    pointer-events: none
}

.form__pills .filter-pills .filter-pills__button[data-disabled]:after {
    color: rgba(0, 0, 0, .4)
}

.form__pills .filter-pills .filter-pills__button>span {
    display: block
}

.form__pills .filter-pills .filter-pills__button:active,
.form__pills .filter-pills .filter-pills__button:focus,
.form__pills .filter-pills .filter-pills__button:hover {
    outline: none
}

.form__pills .filter-pills .filter-pills__button:active,
.form__pills .filter-pills .filter-pills__button:hover {
    background: #ebebeb
}

.form__pills .filter-pills .filter-pills__button[data-active] {
    background: #1190cd;
    border-color: #1190cd;
    color: #fff
}

@media screen and (max-width:719px) {
    .form__pills .filter-pills .filter-pills__item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    .form__pills .filter-pills .filter-pills__item+.filter-pills__item {
        margin-left: 16px
    }
}

@media screen and (min-width:720px) {
    .form__pills .filter-pills {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.form__list-items {
    margin-bottom: 24px
}

.form__field [aria-invalid=error]~[visible-when-invalid=error] {
    display: block
}

.mortgage {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.mortgage .form__field {
    margin-bottom: 0
}

.mortgage__icon {
    display: block;
    height: 40px;
    position: relative;
    width: 40px
}

.mortgage__icon:before {
    background: url(https://cdn1.vivareal.com/p/14708-04571bd/v/static/app/svg/styleguide/icons/ic-outline-home.svg) no-repeat 50%;
    background-size: 20px;
    content: "";
    display: inline-block;
    height: 100%;
    min-height: 20px;
    vertical-align: middle;
    width: 20px
}

.mortgage__title {
    color: #ee6500
}

.mortgage__sub-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #757575;
    margin-top: 16px
}

.mortgage__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.mortgage__submit {
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #ee6500;
    border: 0;
    color: #fff;
    padding: 0 32px;
    margin-top: 12px
}

.mortgage__submit:focus {
    outline: 0
}

.mortgage__submit[disabled] {
    cursor: not-allowed;
    opacity: .5
}

.mortgage__submit:not([disabled]):hover {
    background: #ff7109
}

.mortgage__submit:active {
    background: #da5c00
}

.mobile .mortgage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 32px
}

.mobile .mortgage__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px
}

.mobile .mortgage__col {
    width: 100%
}

.mobile .mortgage__col:last-child {
    margin-top: 32px;
    padding-left: 0
}

.mobile .mortgage__submit {
    width: 100%
}

@media screen and (min-width:720px) {
    .mortgage {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 44px 56px
    }
    .mortgage__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px
    }
    .mortgage__col {
        width: 50%
    }
    .mortgage__col:first-child {
        padding-right: 44px
    }
    .mortgage__col:last-child {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 44px
    }
    .mortgage__submit {
        -ms-flex-item-align: end;
        align-self: flex-end;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
}

@-webkit-keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.decision-tree-lead-form .dtlf__container .lead-form__wrapper {
    display: none
}

.decision-tree-lead-form .results__lead-form[data-active] {
    display: block
}

.decision-tree-lead-form .results__lead-form[data-active] .new-lead-form__lightbox {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    bottom: 0;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10
}
