@font-face {
  font-family: "Nunito";
  src: url(https://github.com/googlefonts/NunitoFont) format("ttf");
}

/* #### STYLES HOME #### */
.back_ground_home {
  background-image: url("./static/images/bg1.png");
  background-size: cover;
  background-repeat: round;
}

.menu_header_logo {
  font-family: "Nunito";
  margin-top: 1em;
  margin-left: 3em;
}
.menu_header_logo {
  width: 100%;
  height: 100%;
}
.menu_header_logo button {
  display: flex;
  background-color: white;
  border-radius: 30px;
  border: none;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  text-align: center !important;
  margin-left: 90%;
  margin-top: 1em;
  width: 16vh !important;
}
.menu_header_logo button a {
  color: #b30037;
  font-size: 1em;
  text-decoration: none;
  font-weight: 750;
  margin-left: 0.8em;
}

.menu_header_logo img {
  display: flex;
  width: 11% !important;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-left: 3em;
}

.banner_casa img {
  position: relative;
  width: 100%;
  left: 30%;
  margin-top: -5em;
}
.banner {
  font-family: "Nunito";
  margin-left: 6em;
}
.banner h1 {
  color: white;
  margin-left: 0.6em;
  margin-top: 0.5em !important;
  font-size: 5rem;
  font-weight: 800;
}

.banner h3 {
  color: white;
  margin-left: 1em;
  margin-top: 0.1em;
  line-height: 1.2em;
  font-size: 2.2em;
}

.input_banner input {
  font-family: "Nunito";
  margin-left: 1.5em;
  margin-top: 2.45em;
  width: 50%;
  height: 4.6em !important;
  border-radius: 30px 0px 0px 30px !important;
  border: none;
  padding: 0px;
}

.input_banner p {
  font-family: "Nunito";
  color: white;
  font-size: 1.5ch;
  margin-top: 0.6em;
  margin-left: 3em;
}

.input_banner button {
  width: 20%;
  position: relative;
  background-color: #ff8800;
  border: none;
  border-radius: 0px 30px 30px 0px;
  height: 4.7em;
  color: white;
  font-weight: 700;
  left: -0.35rem;
}

.imovel_button button {
  font-family: "Nunito";
  background-color: white;
  color: #b30037;
  font-size: 1em;
  font-weight: 800;
  border-radius: 30px;
  border: none;
  width: 50% !important;
  height: 60px;
  position: relative;
  left: 35%;
  top: -2em;
  margin: 4em;
}

.banner_white {
  font-family: "Nunito";
  background-color: white;
  height: 20em;
  align-items: center;
  justify-content: center;
  padding-bottom: 4em;
  margin-bottom: 2em;
}

.banner_white h3 {
  font-family: "Nunito";
  color: #a90c44 !important;
  margin-left: 1em;
  margin-top: 2em !important;
  margin-bottom: 3em;
  font-size: 4rem;
  font-weight: 150;
}
.banner_white p {
  font-family: "Nunito";
  color: #575757;
  margin: 3em;
  margin-top: 1em !important;
  font-size: 4rem;
  font-weight: 150;
}

.certo_voce img {
  width: 90%;
  position: relative;
  margin: 3em;
  right: 10%;
}
.economia_tempo img {
  width: 80%;
  position: relative;
  margin: 3em;
}
.simplificando_processo img {
  width: 60%;
  position: relative;
  margin: 3em;
  left: 5%;
}
.aluguel_dia img {
  width: 90%;
  position: relative;
  margin: 2em;
  margin-top: 10em;
  left: 5%;
}
.rapidez img {
  width: 65%;
  position: relative;
  left: 35%;
  margin: 2em;
}
.anlise_poderosa img {
  width: 60%;
  position: relative;
  margin-bottom: 2.5em;
  margin: 2em;
  left: 25%;
}
.banner_white p {
  color: #575757;
  font-size: 1em;
  text-align: initial;
}
.banner_white_titulo {
  position: relative;
  left: 3%;
}
.banner_white_titulo h4 {
  font-family: "Nunito";
  color: #a90c44 !important;
  font-weight: 850 !important;
  font-size: 1.2em !important;
  margin-top: 0.8em !important;
  text-align: center !important;
}

.button_quero_encontrar_imovel {
  font-family: "Nunito";
}

.button_quero_encontrar_imovel button {
  font-family: "Nunito";
  position: relative;
  left: 28%;
  background-color: #ff8800;
  border-radius: 30px;
  border: none;
  padding: 1em;
  width: 50% !important;
  margin-top: 2em;
  margin-bottom: -6em;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
}

.back_ground_para_quem_quer {
  font-family: "Nunito";
  position: absolute;
  background-image: url("./static/images/bg2.png");
  width: 100%;
  height: 1000px;
  background-repeat: round;
  z-index: -1;
}

.back_ground_para_quem_quer h3 {
  line-height: 1.2em;
  color: white !important;
  margin-top: 3em !important;
  margin-bottom: 2em;
  font-size: 4rem;
  font-weight: 150;
}

.back_ground_para_quem_quer p {
  position: relative;
  left: 15%;
  color: white;
  font-size: 1em;
  text-align: initial;
  margin-right: 4em;
}
.back_ground_para_quem_quer_titulo {
  font-family: "Nunito";
  color: white !important;
  font-weight: 850 !important;
  font-size: 1.2em !important;
  margin-top: 0.8em !important;
  text-align: center !important;
}

.back_ground_para_quem_quer button {
  position: relative;
  background-color: #ff8800;
  border-radius: 30px;
  border: none;
  padding: 1em;
  width: 30% !important;
  font-family: "Nunito";
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  left: 37%;
  margin-top: 3em;
}
.footer_logo {
  font-family: "Nunito";
}
.footer_logo img {
  width: 18% !important;
  margin-top: 10em;
}

.footer_logo p {
  color: #575757;
  font-size: 1.4em;
  margin-top: 3em;
  margin-left: 10em;
}

/* #### STYLES IMOVEIS & IMOVES_DETALHES #### */
.container {
  padding-left: 0em;
}
.input-group {
  align-items: center;
  justify-content: center !important;
}

.navbar {
  padding: 0em;
  margin-top: -2.4em;
}

.carousel-inner {
  background-color: black;
  border-radius: 30px;
  max-height: 15% !important;
  width: 100% !important;
}

.img img {
  width: 100%;
}
.carousel-indicators li {
  height: 0.6em;
  width: 0.6em;
  border-radius: 100%;
  background-color: #ff8800;
  margin-right: 1.1em;
  margin-bottom: 0.1vh;
}

.carousel-control-next-icon {
  background-image: url(./static/images/icon_next.svg);
}
.carousel-control-prev-icon {
  background-image: url(./static/images/icon_previus.svg);
}
/* #### MENU #### */
.menu_imoveis_header {
  background-image: url(./static/images/header_branco.png);
  width: 100%;
  height: 100%;
  padding-bottom: 0.2em;
  font-family: "nunito";
  background-size: cover;
  background-repeat: round;
}
.lupa {
  width: 45% !important;
}
.menu_imoveis_header input {
  border-radius: 30px 0px 0px 30px;
  border-color: #ff8800;
  border-style: solid;
  border-width: 1px;
  height: 2.8em;
  width: 60%;
}
.menu_imoveis_header button {
  background-color: #ff8800;
  border: none;
  border-radius: 0px 30px 30px 0px;
  height: 2.8em;
  width: 12%;
}
.menu_imoveis_header button img {
  width: 96.2%;
  margin-left: 0px;
  margin-top: 0.3em;
}
.botao_padrao {
  font-family: "Nunito";
  background-color: #ff8800;
  border-radius: 30px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  font-size: 1em;
  text-decoration: none;
  font-weight: 750;
  margin-left: 0.8em;
}

.bg_side {
  background-image: linear-gradient(#9b0232, #b00136, #9b0232, #7b062d);
}
.menu_side_infos {
  font-family: "nunito";
}
.menu_side_infos h4 {
  color: white;
  font-weight: 600;
  margin-top: 2.8em;
  margin-left: 1.1em;
  font-size: 1.8ch;
}
.menu_side_infos p {
  color: white;
  margin-left: 1em;
  font-weight: 500;
  font-size: 1em;
}
.menu_side_infos p input {
  background-color: transparent;
  outline: none !important;
  margin-left: 1em;
  margin-top: -1.5em;
  margin-bottom: -1.8em;
  height: 4.6em !important;
  border: none;
  width: 14vh;
}

.menu_side_infos span {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-top: 0.4em;
  margin-left: 2.2vh;
  margin-right: 0.1vh;
}

.menu_side_infos span p {
  outline: #ff8800;
  justify-content: center;
  color: #900330;
  font-weight: 800;
  font-size: 1.6em !important;
  margin-left: 0.3em !important;
  margin-top: 0.2em !important;
}

.p_e {
  position: relative;
  left: 1.7em;
}
.p_e input {
  position: relative;
}

.p_m² {
  position: relative;
  right: 3em;
  bottom: 2.5em;
}

.hr_e {
  position: relative;

  color: white !important;
  width: 27% !important;
  border-color: white;
  margin-top: -2.5vh !important;
  margin-bottom: 1em;
}
.p_entre {
  position: relative;
  color: white;
}
.hr_entre {
  position: relative;
  right: 9em;
  color: white !important;
  width: 27% !important;
  border-color: white;
  margin-top: 4vh !important;
  margin-bottom: 1em;
}
.menu_side_infos_detalhes {
  font-family: "nunito";
}
.menu_side_infos_detalhes h4 {
  color: white;
  font-weight: 600;
  margin-top: 2.8em;
  margin-left: 1.1em;
  font-size: 1.8ch;
}

.menu_side_infos_detalhes label {
  color: white;
  margin-left: 0.3em !important;
}

.btn {
  width: 2vh !important;
  border: none !important ;
  color: #ff8800 !important;
  background-color: transparent !important;
  outline: none !important;
}
.dropdown-toggle::after {
  border-top: 0.6em solid;
  border-right: 0.6em solid transparent;
  border-left: 0.6em solid transparent;
  position: relative;
  right: -8em;
  bottom: 2.8em;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  outline: none !important;
  background-color: transparent;
  border: none !important;
}
.dropdown-menu {
  background-color: #f5f5f5 !important;
}
.dropdown-menu.show {
  border-radius: 30px !important;
  outline: none !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important;
}
.dropdown_imovel {
  margin-left: 42vh !important;
}
.dropdown_imovel p {
  position: relative;
  right: 16.8em;
}
.dropdown_imovel_hr {
  position: relative;
  bottom: 0.8em;
  color: white !important;
  margin-left: 1.8em;
  width: 80%;
  border-color: white;
}

.menu_side_infos {
  font-family: "Nunito";
}
.menu_side_infos input {
  background-color: transparent;
  outline: none !important;
  margin-left: 1.8em;
  margin-top: -1.5em;
  margin-bottom: -1.8em;
  width: 75vh;
  height: 4.6em !important;
  border: none;
}

.bg_body {
  background-color: #f5f5f5;
}
.icons_detalhes {
  font-family: "nunito";
}
.icons_detalhes img {
  width: 50%;
}

.icons_detalhes p {
  color: #555961;
  font-size: 0.9em;
  margin-top: 0.4em;
}

.icons_top {
  font-family: "nunito";
}
.icons_top img {
  width: 7vh !important;
  margin-top: 1em;
}
.icons_top p {
  color: #555961;
  font-size: 0.9em;
  margin-top: 0.4em;
}
.icons_bottom {
  font-family: "nunito";
}
.icons_bottom img {
  width: 96%;
  margin-top: 10px;
  margin-left: 1.2em;
}
.icons_bottom p {
  color: #555961;
  font-size: 0.9em;
  margin-top: 0.4em;
  margin-left: 2.4em;
}
.infos {
  background-color: #f5f5f5;
  font-family: "Nunito";
}

.infos hr {
  border: 1px solid #707070;
  width: 80%;
}

.infos h2 {
  color: #ff8800;
  font-weight: 700;
  font-size: 4.5ch !important;
}
.infos h4 {
  color: #242629;
  font-weight: 700;
  margin-top: 0.8em;
}
.infos h5 {
  color: #a90c44;
  margin-top: 4.9em;
  font-weight: 900;
  padding-top: 1em;
}
.infos h6 {
  color: #555961;
  font-size: 1.7ch;
  line-height: 1.7em;
}
.infos p {
  color: #575757;
  font-size: 1.9vh;
}
.infos button {
  background-color: #982557;
  border-radius: 30px;
  border: none;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding-right: 1em;
  text-align: center;
  width: 30vh;
  height: 7vh;
}

.infos button a {
  color: white;
  font-size: 1.4ch;
  text-decoration: none;
  font-weight: 700;
  margin-left: 0.8em;
}
.infos_imoveis {
  font-family: Nunito;
}
.infos_imoveis p {
  margin-top: 1em;
  color: #575757;
}

.infos_imoveis h3 {
  color: #ff8800;
  font-weight: 800;
}
.infos_imoveis h5 {
  position: relative;
  left: 10%;
  margin-top: 1em;
  color: #a90c44;
  font-weight: 800;
}

.imovel_info_bg {
  background-color: white;
  border-radius: 30px;
  width: 70% !important;
}
/* IMOVEL INFO */
.informacoes_imovel {
  font-family: "Nunito";
}
.informacoes_imovel h2 {
  position: relative;
  top: 0.4em;
  color: #982557;
  font-size: 2.5em;
  font-weight: 800;
  left: 2%;
}
.informacoes_imovel p {
  position: relative;
  top: 1em;
  color: #555961;
  left: 2%;
  font-weight: 400;
}
.detalhes {
  font-family: "Nunito";
  background-color: white;
  border-radius: 30px;
  margin-top: 2em;
}
.detalhes h3 {
  color: #a90c44;
  font-weight: 800;
  font-size: 1.8em;
  margin-left: 2em;
  padding-top: 1em;
}

.detalhes p {
  color: #575757;
  font-size: 1em;
  font-weight: 400;
  margin-left: 4em;
  margin-top: 1em;
}
.detalhes button {
  position: relative;
  left: 10%;
  margin-bottom: 1em;
  background-color: #ff8800;
  color: white;
  font-weight: 800;
  font-size: 1.3em;
  height: 3em;
  border-radius: 30px;
}

.carrossel {
  background-image: url("./static/images/bg_medio.png");
}
/* MODAL AGENDAMENTO  */
.back_header_agendamento {
  background-image: url("./static/images/header_visita.png");
  background-repeat: round;
  width: 100%;
  height: 28%;
}

.back_header_agendamento img {
  width: 13%;
  margin-top: 2em !important;
}
.text-center .img-responsive {
  margin: 0 auto;
  margin-top: 3.5em !important;
}
.formulario {
  font-family: "Nunito";
  justify-content: center !important;
}
.formulario h2 {
  color: white;
  margin-top: 1.5em;
  font-weight: 500;
  font-size: 3em;
  margin-left: 2em;
}
.formulario h3 {
  color: #a90c44;
  font-weight: 400;
  font-size: 2.5em;
  margin-top: 1em;
  margin-left: 3em;
  margin-bottom: 5em;
}
.formulario input {
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 1.5em;
  height: 55px;
}
.formulario img {
  position: relative;
  top: 20%;
  left: 25%;
}
.formulario button {
  background-color: #ff8800;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  border: none;
  padding: 1em;
  width: 80%;
  margin-left: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 10em;
}

.formulario_ilustracao img {
  width: 80%;
  margin: 2em;
}

.agendamento {
  font-family: "Nunito";
  justify-content: center !important;
}
.agendamento h1 {
  color: #982557;
  font-weight: 600;
  font-size: 4em;
}
.agendamento h2 {
  color: #982557;
  font-weight: 600;
  font-size: 3em;
}
.agendamento h3 {
  color: #982557;
  font-weight: 500;
  margin-top: 0.8em;
}
.agendamento h4 {
  color: #555961;
  font-weight: 200;
}
.agendamento h4 strong {
  color: #982557;
  font-weight: 800;
}
.agendamento h5 {
  color: #555961;
  font-weight: 400;
  margin-top: 1em;
}
.agendamento h6 {
  color: #555961;
  margin-top: 0.5em;
  font-size: 1.3rem;
  font-weight: 100;
}
.agendamento label {
  color: #ff8800 !important;
  font-weight: 800 !important;
  font-size: 1.2em;
}
.agendamento button {
  background-color: #ff8800;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  border: none;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.agendamento span {
  background-color: #ff8800;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-left: 2em;
  margin-top: 1em;
}
.agendamento span h6 {
  color: white;
  font-weight: 100;
  font-size: 1em;
  padding-top: 1em;
}
.agendamento span p {
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1em !important;
  margin-top: -0.8em;
}
.agendamento input {
  border: 2px solid #ff8800;
  border-radius: 30px;
  margin-top: 1.5em;
  height: 55px;
}
.agendamento p {
  position: relative;
  left: 1%;
  color: #ff8800;
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0.55em;
  padding-right: 0.2rem;
}

.agendamento footer {
  background-color: white;
  width: 100%;
  margin-top: 7em;
}
.agendamento footer img {
  width: 12%;
  margin-left: 4em;
  padding: 1em;
}
.agendamento footer h5 {
  color: #575757;
  font-weight: 300;
  margin: 2em;
}
.agendamento_horario {
  justify-content: center;
  font-family: "Nunito";
}
.agendamento_horario span {
  background-color: #710023;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  border: none;
  margin-top: 0.8em;
  margin-bottom: 1em;
  margin-left: 2em;
  min-width: 8%;
  height: 1%;
}
.agendamento_horario p {
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1em !important;
  margin-top: -0.8em;
  padding: 0;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0px;
}
.agendamento_horario h4 {
  color: #555961;
  font-weight: 400;
  margin-top: 2.5em;
  font-size: 1.2rem;
}
.agendamento_horario h4 strong {
  color: #982557;
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 2.5em;
}
.agendamento_horario h5 {
  color: #710023;
  font-weight: 800;
  margin-top: 1.5em;
}
.agendamento_horario button {
  position: relative;

  background-color: #ff8800;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  margin-top: 1.4em;
  margin-left: 0;
  border: none;
  padding: 1em;
  width: 100%;
}

.confirmacao_visita input {
  position: relative;
  left: 34%;
  right: 3em;
  border-radius: 50% !important;
  width: 70px !important;
  height: 70px !important;
  border: 2px solid #ff8800 !important;
}
.confirmacao_agendamento {
  font-family: "Nunito";
  justify-content: center;
}
.confirmacao_agendamento h5 {
  color: #555961;
  margin-bottom: 1em;
}
.confirmacao_agendamento h4 {
  color: #a90c44;
  font-weight: 800;
  margin-top: 1em;
}
.confirmacao_agendamento p {
  color: #575757;
  font-size: 1.2em;
  font-weight: 200;
}
.confirmacao_agendamento button {
  background-color: #ff8800;
  color: white;
  font-weight: 600;
  font-size: 1.7em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-top: 1em;
  border-radius: 30px;
}
.visita_agendada {
  font-family: "Nunito";
}
.visita_agendada h1 {
  color: #982557;
  font-weight: 600;
  font-size: 4em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.visita_agendada_info button {
  position: relative;
  left: 5%;
  background-color: #710023 !important;
  color: white;
  font-weight: 600;
  font-size: 1.7em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  border-radius: 30px;
}
.visita_agendada button {
  position: relative;
  left: 5%;
  display: block;
  background-color: #ff8800;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  margin-top: 4em;
  margin-left: 0;
  border: none;
  padding: 1em;
  width: 90%;
}

.side_config_conta {
  background-image: url("../pages/static/images/side_menu1.png");
  background-repeat: round;
  width: 90%;
  height: 100%;
  padding: 0px !important;
  margin-top: 1em;
}
.side_config_conta h6 {
  font-family: "Nunito";
  color: white;
  font-weight: 700;
  margin-left: 2.5em;
  margin-top: 0.5em;
  padding-bottom: 1.5em;
}
.bg_config_perfil {
  font-family: "Nunito";
  background-color: white;
  margin-right: 0px;
  padding: 2em;
}

.bg_config_perfil h1 {
  color: #982557;
  font-weight: 800;
  /* margin-left: 0.7em; */
}

.bg_config_perfil h3 {
  color: #a90c44;
  font-weight: 800;
}

.bg_config_perfil h4 {
  color: #575757;
  font-weight: 200;
}
.bg_config_perfil button {
  background-color: #ff8800;
  color: white;
  border-radius: 30px;
  width: 60%;
  padding: 1em;
  margin-top: 3em;
}

.fav_infos {
  font-family: "Nunito";
}
.fav_infos p {
  color: #575757;
  font-weight: 100;
}
.fav_infos h5 {
  color: #ff8800;
  font-weight: 800;
}

.fav_infos h6 {
  color: #a90c44;
  font-weight: 800;
}

.minhas_visitas {
  font-family: "Nunito";
  padding-right: 0px;
}

.minhas_visitas h4 {
  color: #555961;
  margin-top: 5em !important;
  padding-right: 2em;
}
.minhas_visitas h5 {
  color: #555961;
  font-weight: 200;
}

.minhas_visitas img {
  width: 80%;
  border-radius: 30px;
  margin-top: 1.5em;
}
.minhas_visitas button {
  background-color: #ff8800;
  color: white;
  font-size: 1em;
  font-weight: 800;
  width: 80%;
  margin-right: 1.5em;
}

.minhas_visitas_infos {
  font-family: "Nunito";
  background-color: #982557;
  border-radius: 30px;
  margin: -1em;
  margin-top: 1.3em !important;
  height: 40%;
}
.minhas_visitas_infos h5 {
  color: white;
  font-weight: 700;
  line-height: 2em;
  padding: 1em;
}

.minhas_visitas_avaliacao {
  font-family: "Nunito";
  background-color: white;
}

.minhas_visitas_avaliacao p {
  color: #893b68;
  font-weight: 600;
  margin-top: 1em;
}
.dropdown_contrato {
  margin-top: 15em;
}
.dropdown_contrato h6 {
  font-family: "Nunito";
  color: #893b68;
  font-size: 1em;
  font-weight: 800;
}
.dropdown_contrato hr {
  margin-left: 4em;
  width: 60%;
  border: 1px solid #575757;
  margin-bottom: 1em;
  margin-top: 0px;
}
.dropdown_contrato p {
  color: #575757;
  font-size: 1em;
  font-weight: 100;
}

/* reponsosivo min 2000px */
/* @media screen and (min-width: 2000px) {
  .dropdown_imovel p {
    position: relative;
    right: 20.9em;
  }
  .infos button {
    margin-left: 3em;
  }
  .infos h4 {
    position: relative;
    left: 3em;
  }
  .dropdown-toggle::after {
    margin-right: -5em;
  }
  .p_e {
    position: relative;
    left: -7.9em;
    top: 0em;
  }
  .p_e input {
    left: 0.7em !important;
  }
  .hr_e {
    margin-top: -0.98rem !important;
    left: 5em;
  }
  .p_entre {
    left: 1.3em;
  }
  .p_m² {
    right: 5em;
  }
 .hr_entre {
   right: 7.3em;
 }
  .back_ground_home {
    background-size: cover;
  }
  .menu_side_infos_hr {
    margin-top: 1em !important;
  }
} */

/* responsivo min 768px */
@media screen and (min-width: 768px) {
  .dropdown-toggle::after {
    margin-left: -34vh !important;
  }
  .p_e {
    left: 10em;
    top: -2.7em;
  }
}
