<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div id="nav" style="text-align:center;background:#e1e;">
            <router-link to="/">Home</router-link>|
            <router-link to="/about">About</router-link>
          </div>
        </div>
        <div class="col-md-1 offset-md-7">
          <router-link to="/about" class="pull-right">Login</router-link> &nbsp;
          <router-link to="/perfil" class="pull-right" v-if="this.token">Perfil</router-link>

        </div>
      </div>

      <router-view />
    </div>
  </div>
</template>
<script>
export default {
  data: function() {
  return {
    token: localStorage.getItem('token') ,
  };
  },
  methods: {
    isNullTest(val){
      return val == null || val === undefined || val == '' || val < 1
    }
  },
  name: 'x',
  components: {
  },
};
</script>
